<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设备</title>
    <link href="/static/index/css/move.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="pnavtop">
    <div class="pnavtopa">
        <p class="pnavtoptext"> &nbsp;设 备</p>
    </div>
</div>
<div class="mnav">
    <div class="flie">
        <div class="ftuwen">
            <img class="mtopimg" src="">
            <div class="mbtmpm" >
                <p class="mpname">输入字段可通<span class="mspan">[查看详情]</span></p>
                <p class="mptext">输入字段可通过多种方式改变输入字段可通过多种方式...</p>
                <div class="fff">
                    <form action="demo_form.asp">
                        <input class="minput" type="text" name="fname" placeholder="想说点什么"><br>
                        <input class="msubmit" type="submit" value="评论">
                    </form>
                    <img class="micon" src="/static/index/images/pinglun.png" >
                    <p class="mpcolor">99+</p>
                </div>
            </div>
        </div>
        <div class="ftuwen">
            <img class="mtopimg" src="">
            <div class="mbtmpm" >
                <p class="mpname">输入字段可通<span class="mspan">[查看详情]</span></p>
                <p class="mptext">输入字段可通过多种方式改变输入字段可通过多种方式...</p>
                <div class="fff">
                    <form action="demo_form.asp">
                        <input class="minput" type="text" name="fname" placeholder="想说点什么"><br>
                        <input class="msubmit" type="submit" value="评论">
                    </form>
                    <img class="micon" src="/static/index/images/pinglun.png" >
                    <p class="mpcolor">99+</p>
                </div>
            </div>
        </div>
        <div class="ftuwen">
            <img class="mtopimg" src="">
            <div class="mbtmpm" >
                <p class="mpname">输入字段可通<span class="mspan">[查看详情]</span></p>
                <p class="mptext">输入字段可通过多种方式改变输入字段可通过多种方式...</p>
                <div class="fff">
                    <form action="demo_form.asp">
                        <input class="minput" type="text" name="fname" placeholder="想说点什么"><br>
                        <input class="msubmit" type="submit" value="评论">
                    </form>
                    <img class="micon" src="/static/index/images/pinglun.png" >
                    <p class="mpcolor">99+</p>
                </div>
            </div>
        </div>
        <div class="ftuwen">
            <img class="mtopimg" src="">
            <div class="mbtmpm" >
                <p class="mpname">输入字段可通<span class="mspan">[查看详情]</span></p>
                <p class="mptext">输入字段可通过多种方式改变输入字段可通过多种方式...</p>
                <div class="fff">
                    <form action="demo_form.asp">
                        <input class="minput" type="text" name="fname" placeholder="想说点什么"><br>
                        <input class="msubmit" type="submit" value="评论">
                    </form>
                    <img class="micon" src="/static/index/images/pinglun.png" >
                    <p class="mpcolor">99+</p>
                </div>
            </div>
        </div>
        <div class="ftuwen">
            <img class="mtopimg" src="">
            <div class="mbtmpm" >
                <p class="mpname">输入字段可通过<span class="mspan">[查看详情]</span></p>
                <p class="mptext">输入字段可通过多种方式改变输入字段可通过多种方式...</p>
                <div class="fff">
                    <form action="demo_form.asp">
                        <input class="minput" type="text" name="fname" placeholder="想说点什么"><br>
                        <input class="msubmit" type="submit" value="评论">
                    </form>
                    <img class="micon" src="/static/index/images/pinglun.png" >
                    <p class="mpcolor">99+</p>
                </div>
            </div>
        </div>
    </div>
    <div class="flie">
        <div class="ftuwen">
            <img class="mtopimg" src="">
            <div class="mbtmpm" >
                <p class="mpname">输入字段可通过<span class="mspan">[查看详情]</span></p>
                <p class="mptext">输入字段可通过多种方式改变输入字段可通过多种方式...</p>
                <div class="fff">
                    <form action="demo_form.asp">
                        <input class="minput" type="text" name="fname" placeholder="想说点什么"><br>
                        <input class="msubmit" type="submit" value="评论">
                    </form>
                    <img class="micon" src="/static/index/images/pinglun.png" >
                    <p class="mpcolor">99+</p>
                </div>
            </div>
        </div>
        <div class="ftuwen">
            <img class="mtopimg" src="">
            <div class="mbtmpm" >
                <p class="mpname">输入字段可通过<span class="mspan">[查看详情]</span></p>
                <p class="mptext">输入字段可通过多种方式改变输入字段可通过多种方式...</p>
                <div class="fff">
                    <form action="demo_form.asp">
                        <input class="minput" type="text" name="fname" placeholder="想说点什么"><br>
                        <input class="msubmit" type="submit" value="评论">
                    </form>
                    <img class="micon" src="/static/index/images/pinglun.png" >
                    <p class="mpcolor">99+</p>
                </div>
            </div>
        </div>
        <div class="ftuwen">
            <img class="mtopimg" src="">
            <div class="mbtmpm" >
                <p class="mpname">输入字段可通过<span class="mspan">[查看详情]</span></p>
                <p class="mptext">输入字段可通过多种方式改变输入字段可通过多种方式...</p>
                <div class="fff">
                    <form action="demo_form.asp">
                        <input class="minput" type="text" name="fname" placeholder="想说点什么"><br>
                        <input class="msubmit" type="submit" value="评论">
                    </form>
                    <img class="micon" src="/static/index/images/pinglun.png" >
                    <p class="mpcolor">99+</p>
                </div>
            </div>
        </div>
        <div class="ftuwen">
            <img class="mtopimg" src="">
            <div class="mbtmpm" >
                <p class="mpname">输入字段可通过<span class="mspan">[查看详情]</span></p>
                <p class="mptext">输入字段可通过多种方式改变输入字段可通过多种方式...</p>
                <div class="fff">
                    <form action="demo_form.asp">
                        <input class="minput" type="text" name="fname" placeholder="想说点什么"><br>
                        <input class="msubmit" type="submit" value="评论">
                    </form>
                    <img class="micon" src="/static/index/images/pinglun.png" >
                    <p class="mpcolor">99+</p>
                </div>
            </div>
        </div>
        <div class="ftuwen">
            <img class="mtopimg" src="">
            <div class="mbtmpm" >
                <p class="mpname">输入字段可通过<span class="mspan">[查看详情]</span></p>
                <p class="mptext">输入字段可通过多种方式改变输入字段可通过多种方式...</p>
                <div class="fff">
                    <form action="demo_form.asp">
                        <input class="minput" type="text" name="fname" placeholder="想说点什么"><br>
                        <input class="msubmit" type="submit" value="评论">
                    </form>
                    <img class="micon" src="/static/index/images/pinglun.png" >
                    <p class="mpcolor">99+</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>