<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>喜 扬 扬 系 列</title>
    <link href="/static/index/css/pig.css" type="text/css" rel="stylesheet">
    <script language="Javascript" type="text/Javascript" src="/static/jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="fname">喜扬扬系列</div>
<div class="ptop">
    <div class="pcon">
        <div class="pconl">
            <div class="pigname">扬翔集团</div>
            <div class="pigtitle">养猪业</div>
            <div class="pigtexts">扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业扬翔集团是一家以饲料业、养猪业、
                扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，
                兼营育种的现代大型农牧企业</div>
        </div>
        <img src="/static/index/images/2.jpg">
    </div>
</div>
<div class="pmore">
    <img src="/static/index/images/xia.png" class="pmoreimg">
    <div class="pmoret">点击了解更多</div>
</div>
<div class="fname" style="background: #e6e6e6;">猪场专用型</div>
<div class="ptop" style="background: #e6e6e6;">
    <div class="pcon">
        <div class="pconl">
            <div class="pigname">扬翔集团</div>
            <div class="pigtitle">养猪业</div>
            <div class="pigtexts">扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业扬翔集团是一家以饲料业、养猪业、
                扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，
                兼营育种的现代大型农牧企业</div>
        </div>
        <img src="/static/index/images/2.jpg">
    </div>
</div>
<div class="pmore">
    <img src="/static/index/images/xia.png" class="pmoreimg">
    <div class="pmoret">点击了解更多</div>
</div>
<div class="fname">喜扬扬系列</div>
<div class="ptop">
    <div class="pcon">
        <div class="pconl">
            <div class="pigname">扬翔集团</div>
            <div class="pigtitle">养猪业</div>
            <div class="pigtexts">扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业扬翔集团是一家以饲料业、养猪业、
                扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，
                兼营育种的现代大型农牧企业</div>
        </div>
        <img src="/static/index/images/2.jpg">
    </div>
</div>
<div class="pmore">
    <img src="/static/index/images/xia.png" class="pmoreimg">
    <div class="pmoret">点击了解更多</div>
</div>
</body>
<script language="Javascript" type="text/Javascript" src="/static/index/js/feed.js"></script>
</html>