<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>喜 扬 扬 系 列</title>
    <link href="/static/index/css/pig.css" type="text/css" rel="stylesheet">
    <script language="Javascript" type="text/Javascript" src="/static/jquery-3.3.1.min.js"></script>
</head>
<body>
{volist name="list" id="vo" key="i"}
                    <div class="ptop" style="{$i%2!=0?"background: #e6e6e6;":""}">
                        <div class="pcon">
                            <div class="pconl">
                                <div class="pigname">扬翔集团</div>
                                <div class="pigtitle">{$vo.title}</div>
                                <div class="pigtexts">{$vo.describe}</div>
                            </div>
                            <img src="{$vo.image}">
                        </div>
                    </div>
                    {if condition="$vo.type==2"}
                    <div class="pmore">
    <img src="/static/index/images/xia.png" class="pmoreimg">
    <div class="pmoret">点击了解更多</div>
</div>
{/if}
{/volist} 
{$page}
</body>
<script language="Javascript" type="text/Javascript" src="/static/index/js/feed.js"></script>
</html>