<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>喜 扬 扬 系 列</title>
    <link href="/static/index/css/feed.css" type="text/css" rel="stylesheet">
    <script language="Javascript" type="text/Javascript" src="/static/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div class="pnavtop">
        <div class="pnavtopl">
            <div class="tabItemContainer">
                <li><a class="tabItemCurrent">喜扬扬系列</a></li>
                <li><a>猪场专用型</a></li>
                <li><a>瘦肉型系列</a></li>
            </div>
        </div>
        <div class="pnavtopr">
         <div class="tabBodyContainer">
             <div class="tabBodyItem tabBodyCurrent">

                     <div class="pnavtopa">
                         <p class="pnavtoptext"> &nbsp喜 扬 扬 系 列</p>
                     </div>
                     <div class="flie">
                         <div class="ftuwen">
                             <img class="ftopimg" src="">
                             <div class="fbtmdiv">
                                 <p class="fpname">输入字段可通过多种方式改变属性数据已经...<span class="fspan">[查看详情]</span></p>
                                 <p class="fptext">输入字段可通过多种方式改变</p>
                                 <div class="fff">
                                     <form action="demo_form.asp">
                                         <input type="text" name="fname" placeholder="想说点什么" class="finput"><br>
                                         <input type="submit" value="评论" class="fsubmit">
                                     </form>
                                     <img src="/static/index/images/pinglun.png" class="fbicon">
                                     <p class="fpcolor">99+</p>
                                 </div>
                             </div>
                         </div>
                         <div class="ftuwen">
                             <img class="ftopimg" src="">
                             <div class="fbtmdiv">
                                 <p class="fpname">输入字段可通过多种方式改变属性数据已经...<span class="fspan">[查看详情]</span></p>
                                 <p class="fptext">输入字段可通过多种方式改变</p>
                                 <div class="fff">
                                     <form action="demo_form.asp">
                                         <input type="text" name="fname" placeholder="想说点什么" class="finput"><br>
                                         <input type="submit" value="评论" class="fsubmit">
                                     </form>
                                     <img src="/static/index/images/pinglun.png" class="fbicon">
                                     <p class="fpcolor">99+</p>
                                 </div>
                             </div>
                         </div>
                         <div class="ftuwen">
                             <img class="ftopimg" src="">
                             <div class="fbtmdiv">
                                 <p class="fpname">输入字段可通过多种方式改变属性数据已经...<span class="fspan">[查看详情]</span></p>
                                 <p class="fptext">输入字段可通过多种方式改变</p>
                                 <div class="fff">
                                     <form action="demo_form.asp">
                                         <input type="text" name="fname" placeholder="想说点什么" class="finput"><br>
                                         <input type="submit" value="评论" class="fsubmit">
                                     </form>
                                     <img src="/static/index/images/pinglun.png" class="fbicon">
                                     <p class="fpcolor">99+</p>
                                 </div>
                             </div>
                         </div>
                         <div class="ftuwen">
                             <img class="ftopimg" src="">
                             <div class="fbtmdiv">
                                 <p class="fpname">输入字段可通过多种方式改变属性数据已经...<span class="fspan">[查看详情]</span></p>
                                 <p class="fptext">输入字段可通过多种方式改变</p>
                                 <div class="fff">
                                     <form action="demo_form.asp">
                                         <input type="text" name="fname" placeholder="想说点什么" class="finput"><br>
                                         <input type="submit" value="评论" class="fsubmit">
                                     </form>
                                     <img src="/static/index/images/pinglun.png" class="fbicon">
                                     <p class="fpcolor">99+</p>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="flie">
                         <div class="ftuwen">
                             <img class="ftopimg" src="">
                             <div class="fbtmdiv">
                                 <p class="fpname">输入字段可通过多种方式改变属性数据已经...<span class="fspan">[查看详情]</span></p>
                                 <p class="fptext">输入字段可通过多种方式改变</p>
                                 <div class="fff">
                                     <form action="demo_form.asp">
                                         <input type="text" name="fname" placeholder="想说点什么" class="finput"><br>
                                         <input type="submit" value="评论" class="fsubmit">
                                     </form>
                                     <img src="/static/index/images/pinglun.png" class="fbicon">
                                     <p class="fpcolor">99+</p>
                                 </div>
                             </div>
                         </div>
                         <div class="ftuwen">
                             <img class="ftopimg" src="">
                             <div class="fbtmdiv">
                                 <p class="fpname">输入字段可通过多种方式改变属性数据已经...<span class="fspan">[查看详情]</span></p>
                                 <p class="fptext">输入字段可通过多种方式改变</p>
                                 <div class="fff">
                                     <form action="demo_form.asp">
                                         <input type="text" name="fname" placeholder="想说点什么" class="finput"><br>
                                         <input type="submit" value="评论" class="fsubmit">
                                     </form>
                                     <img src="/static/index/images/pinglun.png" class="fbicon">
                                     <p class="fpcolor">99+</p>
                                 </div>
                             </div>
                         </div>
                         <div class="ftuwen">
                             <img class="ftopimg" src="">
                             <div class="fbtmdiv">
                                 <p class="fpname">输入字段可通过多种方式改变属性数据已经...<span class="fspan">[查看详情]</span></p>
                                 <p class="fptext">输入字段可通过多种方式改变</p>
                                 <div class="fff">
                                     <form action="demo_form.asp">
                                         <input type="text" name="fname" placeholder="想说点什么" class="finput"><br>
                                         <input type="submit" value="评论" class="fsubmit">
                                     </form>
                                     <img src="/static/index/images/pinglun.png" class="fbicon">
                                     <p class="fpcolor">99+</p>
                                 </div>
                             </div>
                         </div>
                         <div class="ftuwen">
                             <img class="ftopimg" src="">
                             <div class="fbtmdiv">
                                 <p class="fpname">输入字段可通过多种方式改变属性数据已经...<span class="fspan">[查看详情]</span></p>
                                 <p class="fptext">输入字段可通过多种方式改变</p>
                                 <div class="fff">
                                     <form action="demo_form.asp">
                                         <input type="text" name="fname" placeholder="想说点什么" class="finput"><br>
                                         <input type="submit" value="评论" class="fsubmit">
                                     </form>
                                     <img src="/static/index/images/pinglun.png" class="fbicon">
                                     <p class="fpcolor">99+</p>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
            <div class="tabBodyContainer">
                <div class="tabBodyItem">

                    <div class="pnavtopa">
                        <p class="pnavtoptext"> &nbsp;猪 场 专 用 型</p>
                    </div>
                    <div class="flie">
                        <div class="ftuwen">
                            <img class="ftopimg" src="">
                            <div class="fbtmdiv">
                                <p class="fpname">输入字段可通过多种方式改变属性数据已经...<span class="fspan">[查看详情]</span></p>
                                <p class="fptext">输入字段可通过多种方式改变</p>
                                <div class="fff">
                                    <form action="demo_form.asp">
                                        <input type="text" name="fname" placeholder="想说点什么" class="finput"><br>
                                        <input type="submit" value="评论" class="fsubmit">
                                    </form>
                                    <img src="/static/index/images/pinglun.png" class="fbicon">
                                    <p class="fpcolor">99+</p>
                                </div>
                            </div>
                        </div>
                        <div class="ftuwen">
                            <img class="ftopimg" src="">
                            <div class="fbtmdiv">
                                <p class="fpname">输入字段可通过多种方式改变属性数据已经...<span class="fspan">[查看详情]</span></p>
                                <p class="fptext">输入字段可通过多种方式改变</p>
                                <div class="fff">
                                    <form action="demo_form.asp">
                                        <input type="text" name="fname" placeholder="想说点什么" class="finput"><br>
                                        <input type="submit" value="评论" class="fsubmit">
                                    </form>
                                    <img src="/static/index/images/pinglun.png" class="fbicon">
                                    <p class="fpcolor">99+</p>
                                </div>
                            </div>
                        </div>
                        <div class="ftuwen">
                            <img class="ftopimg" src="">
                            <div class="fbtmdiv">
                                <p class="fpname">输入字段可通过多种方式改变属性数据已经...<span class="fspan">[查看详情]</span></p>
                                <p class="fptext">输入字段可通过多种方式改变</p>
                                <div class="fff">
                                    <form action="demo_form.asp">
                                        <input type="text" name="fname" placeholder="想说点什么" class="finput"><br>
                                        <input type="submit" value="评论" class="fsubmit">
                                    </form>
                                    <img src="/static/index/images/pinglun.png" class="fbicon">
                                    <p class="fpcolor">99+</p>
                                </div>
                            </div>
                        </div>
                        <div class="ftuwen">
                            <img class="ftopimg" src="">
                            <div class="fbtmdiv">
                                <p class="fpname">输入字段可通过多种方式改变属性数据已经...<span class="fspan">[查看详情]</span></p>
                                <p class="fptext">输入字段可通过多种方式改变</p>
                                <div class="fff">
                                    <form action="demo_form.asp">
                                        <input type="text" name="fname" placeholder="想说点什么" class="finput"><br>
                                        <input type="submit" value="评论" class="fsubmit">
                                    </form>
                                    <img src="/static/index/images/pinglun.png" class="fbicon">
                                    <p class="fpcolor">99+</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flie">
                        <div class="ftuwen">
                            <img class="ftopimg" src="">
                            <div class="fbtmdiv">
                                <p class="fpname">输入字段可通过多种方式改变属性数据已经...<span class="fspan">[查看详情]</span></p>
                                <p class="fptext">输入字段可通过多种方式改变</p>
                                <div class="fff">
                                    <form action="demo_form.asp">
                                        <input type="text" name="fname" placeholder="想说点什么" class="finput"><br>
                                        <input type="submit" value="评论" class="fsubmit">
                                    </form>
                                    <img src="/static/index/images/pinglun.png" class="fbicon">
                                    <p class="fpcolor">99+</p>
                                </div>
                            </div>
                        </div>
                        <div class="ftuwen">
                            <img class="ftopimg" src="">
                            <div class="fbtmdiv">
                                <p class="fpname">输入字段可通过多种方式改变属性数据已经...<span class="fspan">[查看详情]</span></p>
                                <p class="fptext">输入字段可通过多种方式改变</p>
                                <div class="fff">
                                    <form action="demo_form.asp">
                                        <input type="text" name="fname" placeholder="想说点什么" class="finput"><br>
                                        <input type="submit" value="评论" class="fsubmit">
                                    </form>
                                    <img src="/static/index/images/pinglun.png" class="fbicon">
                                    <p class="fpcolor">99+</p>
                                </div>
                            </div>
                        </div>
                        <div class="ftuwen">
                            <img class="ftopimg" src="">
                            <div class="fbtmdiv">
                                <p class="fpname">输入字段可通过多种方式改变属性数据已经...<span class="fspan">[查看详情]</span></p>
                                <p class="fptext">输入字段可通过多种方式改变</p>
                                <div class="fff">
                                    <form action="demo_form.asp">
                                        <input type="text" name="fname" placeholder="想说点什么" class="finput"><br>
                                        <input type="submit" value="评论" class="fsubmit">
                                    </form>
                                    <img src="/static/index/images/pinglun.png" class="fbicon">
                                    <p class="fpcolor">99+</p>
                                </div>
                            </div>
                        </div>
                        <div class="ftuwen">
                            <img class="ftopimg" src="">
                            <div class="fbtmdiv">
                                <p class="fpname">输入字段可通过多种方式改变属性数据已经...<span class="fspan">[查看详情]</span></p>
                                <p class="fptext">输入字段可通过多种方式改变</p>
                                <div class="fff">
                                    <form action="demo_form.asp">
                                        <input type="text" name="fname" placeholder="想说点什么" class="finput"><br>
                                        <input type="submit" value="评论" class="fsubmit">
                                    </form>
                                    <img src="/static/index/images/pinglun.png" class="fbicon">
                                    <p class="fpcolor">99+</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabBodyContainer">
                <div class="tabBodyItem">

                    <div class="pnavtopa">
                        <p class="pnavtoptext"> &nbsp;瘦 肉 型 系 列</p>
                    </div>
                    <div class="flie">
                        <div class="ftuwen">
                            <img class="ftopimg" src="">
                            <div class="fbtmdiv">
                                <p class="fpname">输入字段可通过多种方式改变属性数据已经...<span class="fspan">[查看详情]</span></p>
                                <p class="fptext">输入字段可通过多种方式改变</p>
                                <div class="fff">
                                    <form action="demo_form.asp">
                                        <input type="text" name="fname" placeholder="想说点什么" class="finput"><br>
                                        <input type="submit" value="评论" class="fsubmit">
                                    </form>
                                    <img src="/static/index/images/pinglun.png" class="fbicon">
                                    <p class="fpcolor">99+</p>
                                </div>
                            </div>
                        </div>
                        <div class="ftuwen">
                            <img class="ftopimg" src="">
                            <div class="fbtmdiv">
                                <p class="fpname">输入字段可通过多种方式改变属性数据已经...<span class="fspan">[查看详情]</span></p>
                                <p class="fptext">输入字段可通过多种方式改变</p>
                                <div class="fff">
                                    <form action="demo_form.asp">
                                        <input type="text" name="fname" placeholder="想说点什么" class="finput"><br>
                                        <input type="submit" value="评论" class="fsubmit">
                                    </form>
                                    <img src="/static/index/images/pinglun.png" class="fbicon">
                                    <p class="fpcolor">99+</p>
                                </div>
                            </div>
                        </div>
                        <div class="ftuwen">
                            <img class="ftopimg" src="">
                            <div class="fbtmdiv">
                                <p class="fpname">输入字段可通过多种方式改变属性数据已经...<span class="fspan">[查看详情]</span></p>
                                <p class="fptext">输入字段可通过多种方式改变</p>
                                <div class="fff">
                                    <form action="demo_form.asp">
                                        <input type="text" name="fname" placeholder="想说点什么" class="finput"><br>
                                        <input type="submit" value="评论" class="fsubmit">
                                    </form>
                                    <img src="/static/index/images/pinglun.png" class="fbicon">
                                    <p class="fpcolor">99+</p>
                                </div>
                            </div>
                        </div>
                        <div class="ftuwen">
                            <img class="ftopimg" src="">
                            <div class="fbtmdiv">
                                <p class="fpname">输入字段可通过多种方式改变属性数据已经...<span class="fspan">[查看详情]</span></p>
                                <p class="fptext">输入字段可通过多种方式改变</p>
                                <div class="fff">
                                    <form action="demo_form.asp">
                                        <input type="text" name="fname" placeholder="想说点什么" class="finput"><br>
                                        <input type="submit" value="评论" class="fsubmit">
                                    </form>
                                    <img src="/static/index/images/pinglun.png" class="fbicon">
                                    <p class="fpcolor">99+</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flie">
                        <div class="ftuwen">
                            <img class="ftopimg" src="">
                            <div class="fbtmdiv">
                                <p class="fpname">输入字段可通过多种方式改变属性数据已经...<span class="fspan">[查看详情]</span></p>
                                <p class="fptext">输入字段可通过多种方式改变</p>
                                <div class="fff">
                                    <form action="demo_form.asp">
                                        <input type="text" name="fname" placeholder="想说点什么" class="finput"><br>
                                        <input type="submit" value="评论" class="fsubmit">
                                    </form>
                                    <img src="/static/index/images/pinglun.png" class="fbicon">
                                    <p class="fpcolor">99+</p>
                                </div>
                            </div>
                        </div>
                        <div class="ftuwen">
                            <img class="ftopimg" src="">
                            <div class="fbtmdiv">
                                <p class="fpname">输入字段可通过多种方式改变属性数据已经...<span class="fspan">[查看详情]</span></p>
                                <p class="fptext">输入字段可通过多种方式改变</p>
                                <div class="fff">
                                    <form action="demo_form.asp">
                                        <input type="text" name="fname" placeholder="想说点什么" class="finput"><br>
                                        <input type="submit" value="评论" class="fsubmit">
                                    </form>
                                    <img src="/static/index/images/pinglun.png" class="fbicon">
                                    <p class="fpcolor">99+</p>
                                </div>
                            </div>
                        </div>
                        <div class="ftuwen">
                            <img class="ftopimg" src="">
                            <div class="fbtmdiv">
                                <p class="fpname">输入字段可通过多种方式改变属性数据已经...<span class="fspan">[查看详情]</span></p>
                                <p class="fptext">输入字段可通过多种方式改变</p>
                                <div class="fff">
                                    <form action="demo_form.asp">
                                        <input type="text" name="fname" placeholder="想说点什么" class="finput"><br>
                                        <input type="submit" value="评论" class="fsubmit">
                                    </form>
                                    <img src="/static/index/images/pinglun.png" class="fbicon">
                                    <p class="fpcolor">99+</p>
                                </div>
                            </div>
                        </div>
                        <div class="ftuwen">
                            <img class="ftopimg" src="">
                            <div class="fbtmdiv">
                                <p class="fpname">输入字段可通过多种方式改变属性数据已经...<span class="fspan">[查看详情]</span></p>
                                <p class="fptext">输入字段可通过多种方式改变</p>
                                <div class="fff">
                                    <form action="demo_form.asp">
                                        <input type="text" name="fname" placeholder="想说点什么" class="finput"><br>
                                        <input type="submit" value="评论" class="fsubmit">
                                    </form>
                                    <img src="/static/index/images/pinglun.png" class="fbicon">
                                    <p class="fpcolor">99+</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
</body>
<script language="Javascript" type="text/Javascript" src="/static/index/js/feed.js"></script>
</html>