<!DOCTYPE html>
{include file="public:header"}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>猪精</title>
    <link href="/static/index/css/pig.css" type="text/css" rel="stylesheet">
    <script language="Javascript" type="text/Javascript" src="/static/jquery-3.3.1.min.js"></script>
</head>
<body>
    <img class="timg">
        <div id="TabMain">
            <div class="tabItemContainer">
                <li><a class="tabItemCurrent">猪精</a></li>
                <li><a>饲料</a></li>
                <li><a>种猪</a></li>
                <li><a>选项卡4</a></li>
                <li><a>选项卡5</a></li>
            </div>
            <div class="tabBodyContainer">
                <div class="tabBodyItem tabBodyCurrent">

                </div>
                <div class="tabBodyItem">
                    <div class="fengongsi">
                        <p class="text_css">1</p>
                        <text class="mid-ss">分布地图</text>
                    </div>
                </div>
                <div class="tabBodyItem">
                    <div class="fengongsi">
                        <p class="text_css">2</p>
                        <text class="mid-ss">分布地图</text>
                    </div>
                </div>
                <div class="tabBodyItem">
                    <p>我是Tab选项卡4的内容</p>
                    <p></p>
                </div>
                <div class="tabBodyItem">
                    <div class="fengongsi">
                        <p class="text_css">扬翔分公司简介</p>
                        <text class="mid-ss">分布地图</text>
                    </div>
                </div>
            </div>
        </div>

    <!--切换1-->
    <div>
        <div class="pnavtop">
            <div class="pnavtopa">
                <p class="pnavtoptext"> &nbsp;猪 精</p>
            </div>
        </div>
        <div class="pdetail">
            <div class="pdleft" style="float: left;">
                <p class="pdbiaoti">标题</p>
                <p class="pdnei">公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案 。
                    2000年跻身为广西饲料业龙头企业，陆续获得“农业产业化国家重点龙头企业”、“全国饲料业科技创新先进集体”</p>
                <div class="pdchakan">[查看详情]</div>
                <div class="pdbtm">
                    <form action="demo_form.asp">
                        <input type="text" name="fname" placeholder="想说点什么" style="width: 400px;height: 30px;float: left;margin-top: 20px;"><br>
                        <input type="submit" value="评论" style="width: 100px;height: 35px;margin-left: 20px;float: left">
                    </form>
                    <img src="/static/index/images/pinglun.png" style="width: 40px;height: 40px;float: left;margin-left: 20px;">
                    <p style="color: #ec6f01">123456</p>
                </div>
            </div>
            <img src="" style="width: 700px;height: 400px;background: #a77a94;float: right;">
        </div>
        <div class="pdetail">
            <img src="" style="width: 700px;height: 400px;background: #a77a94;float: left;">
            <div class="pdleft" style="float: right;">
                <p class="pdbiaoti">标题</p>
                <p class="pdnei">公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案 。
                    2000年跻身为广西饲料业龙头企业，陆续获得“农业产业化国家重点龙头企业”、“全国饲料业科技创新先进集体”</p>
                <div class="pdchakan">[查看详情]</div>
                <div class="pdbtm">
                    <form action="demo_form.asp">
                        <input type="text" name="fname" placeholder="想说点什么" style="width: 400px;height: 30px;float: left;margin-top: 20px;"><br>
                        <input type="submit" value="评论" style="width: 100px;height: 35px;margin-left: 20px;float: left">
                    </form>
                    <img src="/static/index/images/pinglun.png" style="width: 40px;height: 40px;float: left;margin-left: 20px;">
                    <p style="color: #ec6f01">123456</p>
                </div>
            </div>

        </div>
        <div class="pdetail">
            <div class="pdleft" style="float: left;">
                <p class="pdbiaoti">标题</p>
                <p class="pdnei">公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案 。
                    2000年跻身为广西饲料业龙头企业，陆续获得“农业产业化国家重点龙头企业”、“全国饲料业科技创新先进集体”</p>
                <div class="pdchakan">[查看详情]</div>
                <div class="pdbtm">
                    <form action="demo_form.asp">
                        <input type="text" name="fname" placeholder="想说点什么" style="width: 400px;height: 30px;float: left;margin-top: 20px;"><br>
                        <input type="submit" value="评论" style="width: 100px;height: 35px;margin-left: 20px;float: left">
                    </form>
                    <img src="/static/index/images/pinglun.png" style="width: 40px;height: 40px;float: left;margin-left: 20px;">
                    <p style="color: #ec6f01">123456</p>
                </div>
            </div>
            <img src="" style="width: 700px;height: 400px;background: #a77a94;float: right;">
        </div>
        <div class="pdetail">
            <img src="" style="width: 700px;height: 400px;background: #a77a94;float: left;">
            <div class="pdleft" style="float: right;">
                <p class="pdbiaoti">标题</p>
                <p class="pdnei">公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案 。
                    2000年跻身为广西饲料业龙头企业，陆续获得“农业产业化国家重点龙头企业”、“全国饲料业科技创新先进集体”</p>
                <div class="pdchakan">[查看详情]</div>
                <div class="pdbtm">
                    <form action="demo_form.asp">
                        <input type="text" name="fname" placeholder="想说点什么" style="width: 400px;height: 30px;float: left;margin-top: 20px;"><br>
                        <input type="submit" value="评论" style="width: 100px;height: 35px;margin-left: 20px;float: left">
                    </form>
                    <img src="/static/index/images/pinglun.png" style="width: 40px;height: 40px;float: left;margin-left: 20px;">
                    <p style="color: #ec6f01">123456</p>
                </div>
            </div>

        </div>
    </div>
    <!--切换2-->
</body>
<script src="/static/index/js/product.js" type="text/javascript"></script>
</html>
{include file="public:foot"}