<!DOCTYPE html>
{include file="public:header"}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>猪精</title>
    <link href="/static/index/css/pig.css" type="text/css" rel="stylesheet">
    <script language="Javascript" type="text/Javascript" src="/static/jquery-3.3.1.min.js"></script>
</head>
<body>
<img class="timg" src="{$bannerinfo[1]}">
        <div id="TabMain">
            <div class="underline">
            <div class="tabItemContainer">
                <li><a class="tabItemCurrent">猪 精</a></li>
                <div class="lixian"></div>
                <li><a>饲 料</a></li>
                <div class="lixian"></div>
                <li><a>种 猪</a></li>
                <div class="lixian"></div>
                <li><a>动 保</a></li>
                <div class="lixian"></div>
                <li><a>设 备</a></li>
            </div>
            </div>
            <div class="tabBodyContainer">
                <div class="tabBodyItem tabBodyCurrent">
<div id="html_5"><iframe align="center" width="100%" height="2200px" src="/index/product/piginfo.html" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"></iframe></div>
                </div>
                <div class="tabBodyItem">
<div id="html_4"><iframe align="center" width="100%" height="2500px" src="/index/product/feed.html" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"></iframe></div>
                </div>
                <div class="tabBodyItem">
<div id="html_3"><iframe align="center" width="100%" height="2200px" src="/index/product/pigs.html" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"></iframe></div>
                </div>
                <div class="tabBodyItem">
<div id="html_2"><iframe align="center" width="100%" height="2200px" src="/index/product/move.html" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"></iframe></div>
                </div>
                <div class="tabBodyItem">
<div id="html_1"><iframe align="center" width="100%" height="2200px" src="/index/product/equipment.html" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"></iframe></div>
                </div>
            </div>
        </div>
</body>
<script src="/static/index/js/product.js" type="text/javascript"></script>
</html>
{include file="public:foot"}