<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="__module__/layui/css/layui.css">
	{block name='css'}{/block}
</head>
<body>
	<div class="layui-container">
		<div class="layui-row">
		<div class="layui-col-md8" style="margin-top: 20px;">
      				{block name='content'}{/block}
    		</div>
		</div>
	</div>	
</body>
<script src="__AdminLTE__/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="__module__/layui/layui.js"></script>
<script src="__adminJs__/jquery.form.js"></script>
<script src="__adminJs__/admin.js"></script>
{block name='js'}{/block}
</html>