<!DOCTYPE html>
{include file="public:header"}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人力资源中心</title>
    <link href="/static/index/css/pig.css" type="text/css" rel="stylesheet">
    <script language="Javascript" type="text/Javascript" src="/static/jquery-3.3.1.min.js"></script>
</head>
<body>
<img src="/static/index/images/top6.jpg" class="timg">
<div id="TabMain">
    <div class="underline">
        <div class="tabItemContainer">
            <li><a class="tabItemCurrent">人才理念</a></li>
            <div class="lixian"></div>
            <li><a>校企合作</a></li>
            <div class="lixian"></div>
            <li><a>培训特色</a></li>
            <div class="lixian"></div>
            <li><a>培训信息</a></li>
            <div class="lixian"></div>
            <li><a>扬翔大学</a></li>
        </div>
    </div>
    <div class="tabBodyContainer">
        <div class="tabBodyItem tabBodyCurrent">
            <div id="html_5"><iframe align="center" width="100%" height="2200px" src="/index/manpower/talent.html" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"></iframe></div>
        </div>
        <div class="tabBodyItem">
            <div id="html_4"><iframe align="center" width="100%" height="2500px" src="/index/manpower/school.html" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"></iframe></div>
        </div>
        <div class="tabBodyItem">
            <div id="html_3"><iframe align="center" width="100%" height="2200px" src="/index/manpower/train.html" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"></iframe></div>
        </div>
        <div class="tabBodyItem">
            <div id="html_2"><iframe align="center" width="100%" height="2200px" src="/index/manpower/train_info.html" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"></iframe></div>
        </div>
        <div class="tabBodyItem">
            <div id="html_1"><iframe align="center" width="100%" height="2200px" src="/index/manpower/university.html" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no"></iframe></div>
        </div>
    </div>
</div>
</body>
<script src="/static/index/js/product.js" type="text/javascript"></script>
</html>
{include file="public:foot"}