<!DOCTYPE html>
{include file="public:header"}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人力资源中心</title>
    <link href="/static/index/css/pig.css" type="text/css" rel="stylesheet">
    <script language="Javascript" type="text/Javascript" src="/static/jquery-3.3.1.min.js"></script>
</head>
<body>
<img src="{$banner[6]|default=''}" class="timg">
<div id="TabMain">
    <div class="underline">
        <div class="tabItemContainer">
            <li><a class="tabItemCurrent">人才理念</a></li>
            <div class="lixian"></div>
            <li><a>校企合作</a></li>
            <div class="lixian"></div>
            <li><a>培训特色</a></li>
            <div class="lixian"></div>
            <li><a>培训信息</a></li>
            <div class="lixian"></div>
            <li><a>扬翔大学</a></li>
        </div>
    </div>
    <div class="tabBodyContainer">
        <!--人才理念-->
        <div class="tabBodyItem tabBodyCurrent">
           <div class="tatcon">
             <div class="tatnav">
            {volist name="talent" id="vo"}
            <div class="tatnava">
                <img class="tatnava_img" src="{$vo.thumb}">
                <div class="tatnava_title">{$vo.title}</div>
                <div class="tatnava_text">{$vo.introduction}</div>
            </div>
            {/volist}
            </div>
            </div>  
       </div>
       <!--校企合作-->
        <div class="tabBodyItem">
            {include file="manpower:school"}
        </div>
        <!--培训特色-->
        <div class="tabBodyItem">
            {include file="manpower:train"}   
        </div>
        <!--培训信息-->
        <div class="tabBodyItem">
            {include file="manpower:train_info"}
        </div>
        <!--扬翔大学-->
        <div class="tabBodyItem">
            {include file="manpower:university"}
        </div>
    </div>
</div>
</body>
<script src="/static/index/js/product.js" type="text/javascript"></script>
</html>
{include file="public:foot"}