<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>校企合作</title>
    <link href="/static/index/css/manpower.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="school_top">
    <div class="school_topa">校企合作项目</div>
</div>
    <div class="school_nav">
        <div class="school_con">
            <img src="/static/index/images/2.jpg">
            <div class="school_conl">
                <div class="school_name">扬翔集团扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧</div>
                <div class="school_title">养猪业扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧扬翔集团是一家以饲料业、养猪业、
                    肉食品加工业为主导，兼营育种的现代大型农牧</div>
                <div class="school_texts">扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业扬翔集团是一家以饲料业、养猪业、
                    扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，
                    兼营育种的现代大型农牧企业扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧扬翔集团是一家以饲料业、养猪业、
                    肉食品加工业为主导，兼营育种的现代大型农牧</div>
            </div>
        </div>
    </div>
<div class="school_nav" style="background: #e6e6e6;">
    <div class="school_con">
        <div class="school_conl">
            <div class="school_name">扬翔集团</div>
            <div class="school_title">养猪业</div>
            <div class="school_texts">扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业扬翔集团是一家以饲料业、养猪业、
                扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，
                兼营育种的现代大型农牧企业</div>
        </div>
        <img src="/static/index/images/2.jpg">
    </div>
</div>
<div class="pmore">
    <img src="/static/index/images/xia.png" class="pmoreimg">
    <div class="pmoret">点击了解更多</div>
</div>
<div class="school_top">
    <div class="school_topa">校企合作动态</div>
</div>
<div class="school_nav">
    <div class="school_con">
        <img src="/static/index/images/2.jpg" style="width: 360px;height: 250px;">
        <div class="school_conl">
            <div class="school_names">扬翔集团扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧</div>
            <div class="school_textsa">扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业扬翔集团是一家以饲料业、养猪业、
                扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，
                兼营育种的现代大型农牧企业扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧扬翔集团是一家以饲料业、养猪业、
                肉食品加工业为主导，兼营育种的现代大型农牧</div>
            <div class="school_more">[ 详 情 ]</div>
        </div>
    </div>
</div>
<div class="school_nav">
    <div class="school_con">
        <img src="/static/index/images/2.jpg" style="width: 360px;height: 250px;">
        <div class="school_conl">
            <div class="school_names">扬翔集团</div>
            <div class="school_textsa">扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业扬翔集团是一家以饲料业、养猪业、
                扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，
                兼营育种的现代大型农牧企业</div>
            <div class="school_more">[ 详 情 ]</div>
        </div>
    </div>
</div>
<div class="pmore" style="background: #e6e6e6;">
    <img src="/static/index/images/xia.png" class="pmoreimg">
    <div class="pmoret">点击了解更多</div>
</div>
</body>
</html>