<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>校企合作</title>
    <link href="/static/index/css/manpower.css" type="text/css" rel="stylesheet">
    <script src="__AdminLTE__/bower_components/jquery/dist/jquery.min.js"></script>
</head>
<body>
<div class="school_top">
    <div class="school_topa">校企合作项目</div>
</div>
<div id="school1">

</div>

<div class="school_top">
    <div class="school_topa">校企合作动态</div>
</div>
<div id="school2">

</div>
</body>
<script>
   function AjaxPage1(page){
        $.ajax({
            url:'ajaxListAction',
            type:'post',
            dataType:'json',
            data: {apage:page,tid:0,coid:2},
            success:function(data){
                var json=data.list.data;
                $("#school1").empty();
                for (var i = 0; i <json.length; i++) {
                    if (i%2==0) {
$("#school1").append('<div class="school_nav"><div class="school_con"><img src="'+json[i].thumb+'" style="width: 360px;height: 250px;"/><div class="school_conl"><div class="school_names">'+json[i].title+'</div><div class="school_textsa">'+json[i].introduction+'</div><div class="school_more"><a style="color:#000;" href="/index/details/details.html?table=publiclist&id='+json[i].id+'&sign=manpower">[ 详 情 ]</a></div></div></div></div>');
                    }
                    else{
                        $("#school1").append('<div class="school_nav"><div class="school_con"><div class="school_conl"><div class="school_names">'+json[i].title+'</div><div class="school_textsa">'+json[i].introduction+'</div><div class="school_more"><a style="color:#000;" href="/index/details/details.html?table=publiclist&id='+json[i].id+'&sign=manpower">[ 详 情 ]</a></div></div><img src="'+json[i].thumb+'" style="width: 360px;height: 250px;"/></div></div>');
                    }
                    
                }                
                $("#school1").append(data.page);
                $("#school1 .pagination").find('a').each(function(){
                    var href=$(this).attr('href').substring(0,22).replace('AjaxPage','AjaxPage1');
                    $(this).attr("href",href);
                });
            }
        });
    }
    function AjaxPage2(page){
        $.ajax({
            url:'ajaxListAction',
            type:'post',
            dataType:'json',
            data: {apage:page,tid:1,coid:2},
            success:function(data){
                var json=data.list.data;
                $("#school2").empty();
                for (var i = 0; i <json.length; i++) {
                    $("#school2").append('<div class="school_nav"><div class="school_con"><img src="'+json[i].thumb+'" style="width: 360px;height: 250px;"><div class="school_conl"><div class="school_names">'+json[i].title+'</div><div class="school_textsa">'+json[i].introduction+'</div><div class="school_more"><a style="color:#000;" href="/index/details/details.html?table=publiclist&id='+json[i].id+'&sign=manpower">[ 详 情 ]</a></div></div></div></div>');
                }                
                $("#school2").append(data.page);
                $("#school2 .pagination").find('a').each(function(){
                    var href=$(this).attr('href').substring(0,22).replace('AjaxPage','AjaxPage2');
                    $(this).attr("href",href);
                });
            }
        });
    }
    AjaxPage1(1);
    AjaxPage2(1);
</script>
</html>