<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人才理念</title>
    <link href="/static/index/css/manpower.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="tatcon">
    
    <div class="tatnav">
        {volist name="list" id="vo"}
        <div class="tatnava">
            <img class="tatnava_img" src="{$vo.thumb}">
            <div class="tatnava_title">{$vo.title}</div>
            <div class="tatnava_text">{$vo.introduction}</div>
        </div>
        {/volist}
    </div>
    
</div>
</body>
</html>