<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>培训特色</title>
    <link href="/static/index/css/manpower.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="tesename">培训特色介绍</div>
<div class="tesetext">
    <p>扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业。 公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、
        稳定、高效的整体解决方案 。 为此公司投巨资建设扬翔地方猪创新研究院，扬翔疫病检测中心及扬翔化验中心。公司依靠领先的技术优势和诚挚的服务， 2000年跻身为广西饲料业龙头
        企业，陆续获得“农业产业化国家重点龙头企业”、“全国饲料业科技创新先进集体”、 “全国三十强饲料企业”、“ 最佳公益企业”、“中国饲料业优秀企业文化企业”等多项荣誉。
        扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业。 扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业。
        公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案 。 为此公司投巨资建设扬翔地方猪创新研究院，扬翔疫病
        检测中心及扬翔化验中心。公司依靠领先的技术优势和诚挚的服务， 2000年跻身为广西饲料业龙头企业，陆续获得“农业产业化国家重点龙头企业”、“全国饲料业科技创新先进集体”
        、 “全国三十强饲料企业”、“ 最佳公益企业”、“中国饲料业优秀企业文化企业”等多项荣誉。</p>

</div>
<div class="train_images">
    <div class="train_img">
        <img src="/static/index/images/4.jpg">
        <img src="/static/index/images/4.jpg">
        <img src="/static/index/images/4.jpg">
        <img src="/static/index/images/4.jpg">
        <img src="/static/index/images/4.jpg">
    </div>
</div>
<div class="tesename">培训对象</div>
<div class="tesetext">
    <p>扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业。 公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、
        稳定、高效的整体解决方案 。 为此公司投巨资建设扬翔地方猪创新研究院，扬翔疫病检测中心及扬翔化验中心。公司依靠领先的技术优势和诚挚的服务， 2000年跻身为广西饲料业龙头
        企业，陆续获得“农业产业化国家重点龙头企业”、“全国饲料业科技创新先进集体”、 “全国三十强饲料企业”、“ 最佳公益企业”、“中国饲料业优秀企业文化企业”等多项荣誉。
        扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业。 扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业。
       </p>

</div>
<div class="train_duixiang">
    <div class="duix">
        <div class="duixiang">
            <img src="/static/index/images/dx1.png">
            <div class="dx_name">高层管理人员</div>
            <div class="dx_tt">重点提升领导力，决策力和系统逻辑思维能力</div>
        </div>
        <div class="duixiang">
            <img src="/static/index/images/dx2.png">
            <div class="dx_name">中层管理人员</div>
            <div class="dx_tt">重点提升领导力，决策力和系统逻辑思维能力</div>
        </div>
        <div class="duixiang">
            <img src="/static/index/images/dx3.png">
            <div class="dx_name">基层管理人员</div>
            <div class="dx_tt">重点提升领导力，决策力和系统逻辑思维能力</div>
        </div>
        <div class="duixiang">
            <img src="/static/index/images/dx4.png">
            <div class="dx_name">基层人员</div>
            <div class="dx_tt">重点提升领导力，决策力和系统逻辑思维能力</div>
        </div>

    </div>



</div>
</body>
</html>