<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>培训特色</title>
    <link href="/static/index/css/manpower.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="tesename">{$info.title}</div>
<div class="tesetext">
    {$info.content}

</div>
<div class="train_images">
    <div class="train_img">
        {volist name="photo" id="vo"}
        <img src="{$vo.src}">
        {/volist}
    </div>
</div>
<div class="tesename">{$info2.title}</div>
<div class="tesetext">
    {$info2.content}
</div>
<div class="train_duixiang">
    <div class="duix">
        <div class="duixiang">
            <img src="/static/index/images/dx1.png">
            <div class="dx_name">高层管理人员</div>
            <div class="dx_tt">重点提升领导力，决策力和系统逻辑思维能力</div>
        </div>
        <div class="duixiang">
            <img src="/static/index/images/dx2.png">
            <div class="dx_name">中层管理人员</div>
            <div class="dx_tt">重点提升领导力，决策力和系统逻辑思维能力</div>
        </div>
        <div class="duixiang">
            <img src="/static/index/images/dx3.png">
            <div class="dx_name">基层管理人员</div>
            <div class="dx_tt">重点提升领导力，决策力和系统逻辑思维能力</div>
        </div>
        <div class="duixiang">
            <img src="/static/index/images/dx4.png">
            <div class="dx_name">基层人员</div>
            <div class="dx_tt">重点提升领导力，决策力和系统逻辑思维能力</div>
        </div>

    </div>



</div>
</body>
</html>