<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>培训信息</title>
    <link href="/static/index/css/manpower.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="school_top">
    <div class="school_topa">培训信息广告</div>
</div>
<div class="peixun">
    <img src="/static/index/images/peixun.jpg">
    <div class="px">
        <div class="px_div">
            <div class="px_title">{$info.title}</div>
            <div class="px_titles">{$info.content}</div>
            <div class="px_more">【点击更多详情】</div>
        </div>
    </div>
</div>
<div class="school_top">
    <div class="school_topa">培训动态</div>
</div>
{volist name="list" id="vo"}
<div class="school_nav">
    <div class="school_con">
        <img src="{$vo.thumb}" style="width: 360px;height: 250px;">
        <div class="school_conl">
            <div class="school_names">{$vo.title}</div>
            <div class="school_textsa">{$vo.content}</div>
            <div class="school_more">[ 详 情 ]</div>
        </div>
    </div>
</div>
{/volist}
{$page}
</body>
</html>