<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>培训特色</title>
    <link href="/static/index/css/manpower.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="tesename">{$info5.title}</div>
<div class="tesetext">
    {$info5.content}

</div>
<div class="train_images">
    <div class="fengcai" id="item_item4" style="width: 1400px;overflow: hidden;padding-top: 100px;height: 160px">
        <div class="item4_1" style="width: 800%;">
            <div id="item4_2" style="height:160px;float: left;display: flex">
                {volist name="photo2['img_url']" id="vo" empty="暂时没有数据"}
                <div style="margin:0 10px">
                    <img style="width: 260px;height: 160px;" src="{$vo}">
                </div>
                {/volist}
            </div>
            <div id="item4_3" style="height: 160px;float: left;display: flex">
            </div>
        </div>
    </div>
</div>
<div class="tesename">{$info6.title}</div>
<div class="tesetext">
    {$info6.content}
</div>
<div class="train_duixiang">
    <div class="duix">
        <div class="duixiang">
            <img src="/static/index/images/dx1.png">
            <div class="dx_name">高层管理人员</div>
            <div class="dx_tt">重点提升领导力，决策力和系统逻辑思维能力</div>
        </div>
        <div class="duixiang">
            <img src="/static/index/images/dx2.png">
            <div class="dx_name">中层管理人员</div>
            <div class="dx_tt">重点提升领导力，决策力和系统逻辑思维能力</div>
        </div>
        <div class="duixiang">
            <img src="/static/index/images/dx3.png">
            <div class="dx_name">基层管理人员</div>
            <div class="dx_tt">重点提升领导力，决策力和系统逻辑思维能力</div>
        </div>
        <div class="duixiang">
            <img src="/static/index/images/dx4.png">
            <div class="dx_name">基层人员</div>
            <div class="dx_tt">重点提升领导力，决策力和系统逻辑思维能力</div>
        </div>

    </div>



</div>
<script>
    var speed = 15; //数字越大速度越慢
    var tab123 = document.getElementById("item_item4");
    var tab1123 = document.getElementById("item4_2");
    var tab2123 = document.getElementById("item4_3");
    var html123 = $('#item4_2').html();
    $('#item4_3').html(html123)
    function Marquee123() {
        if (tab2123.offsetWidth - tab123.scrollLeft <= 0)
            tab123.scrollLeft -= tab1123.offsetWidth
        else {
            tab123.scrollLeft++;
        }
    }
    var MyMar123 = setInterval(Marquee123, speed);
    tab123.onmouseover = function () {
        clearInterval(MyMar123)
    };
    tab123.onmouseout = function () {
        MyMar123 = setInterval(Marquee123, speed)
    };
</script>
</body>
</html>