<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>扬翔大学</title>
    <link href="/static/index/css/into.css" type="text/css" rel="stylesheet">
    <link href="/static/index/css/feed.css" type="text/css" rel="stylesheet">
    <link href="/static/index/css/manpower.css" type="text/css" rel="stylesheet">
    <script language="Javascript" type="text/Javascript" src="/static/jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="pnavtop">
    <div class="pnavtopl">
        <div class="tabItemContainers">
            <li><a class="tabItemCurrents">扬翔大学</a></li>
            <li><a>建设标准</a></li>
            <li><a>支持体系</a></li>
            <li><a>培训方式</a></li>
        </div>
    </div>
    <div class="pnavtopr">
        <div class="tabBodyContainers">
            <div class="tabBodyItems tabBodyCurrents">
                <div class="sumname">{$info1.title}</div>
                <div class="sumtext">
                    {$info1.content}
                </div>
                <div class="sumvideo"></div>
            </div>
        </div>
        <div class="tabBodyContainers">
            <div class="tabBodyItems">
                <div class="sumname">{$info2.title}</div>
                <div class="sumtext">
                    {$info2.content}
                </div>
                {volist name="list1" id="vo"}
                <div class="jsconten" style="{$i%2!=0?"background: #e6e6e6;":""}">
                    <div style="{$i%2!=0?"display:none":""}" class="jsshu">0{$i}</div>
                    <img style="{$i%2!=0?"":"display:none"}" src="{$vo.thumb}">                    
                    <div class="jsnav">{$vo.title}
                        {$vo.content}
                    </div>                    
                    <img style="{$i%2!=0?"display:none":""}" src="{$vo.thumb}">
                    <div style="{$i%2!=0?"":"display:none"}" class="jsshu">0{$i}</div>
                </div>
                {/volist}
            </div>
        </div>
        <div class="tabBodyContainers">
            <div class="tabBodyItems">
                <div class="sumname">{$info3.title}</div>
                <div class="sumtext">
                    {$info3.content}
                </div>
                {volist name="list1" id="vo"}
                <div class="jsconten" style="{$i%2!=0?"background: #e6e6e6;":""}">
                    <div style="{$i%2!=0?"display:none":""}" class="jsshu">0{$i}</div>
                    <img style="{$i%2!=0?"":"display:none"}" src="{$vo.thumb}">                    
                    <div class="jsnav">{$vo.title}
                        {$vo.content}
                    
                    </div>                    
                    <img style="{$i%2!=0?"display:none":""}" src="{$vo.thumb}">
                    <div style="{$i%2!=0?"":"display:none"}" class="jsshu">0{$i}</div>
                </div>
                {/volist}
            </div>
        </div>
        <div class="tabBodyContainers">
            <div class="tabBodyItems">
                <div class="sumname">{$info4.title}</div>
                <div class="daxue">
                    <img src="/static/index/images/daxue.jpg">
                    <div class="dx">
                        <div class="dx_div">
                            <div class="dx_title">扬翔集团扬翔集团是一家以饲料业、养猪业、</div>
                            <div class="dx_titles">
                                {$info4.content}
                                </div>
                        </div>
                    </div>
                </div>
                <div class="sumname">图 片 展 示</div>
                <div class="display">
                    {volist name="photo1" id="vo"}
                    <img src="{$vo.src}">
                    {/volist}
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
</div>
</body>
<script language="Javascript" type="text/Javascript" src="/static/index/js/feed.js"></script>
</html>