<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>扬翔大学</title>
    <link href="/static/index/css/into.css" type="text/css" rel="stylesheet">
    <link href="/static/index/css/feed.css" type="text/css" rel="stylesheet">
    <link href="/static/index/css/manpower.css" type="text/css" rel="stylesheet">
    <script language="Javascript" type="text/Javascript" src="/static/jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="pnavtop">
    <div class="pnavtopl">
        <div class="tabItemContainer">
            <li><a class="tabItemCurrent">扬翔大学</a></li>
            <li><a>建设标准</a></li>
            <li><a>支持体系</a></li>
            <li><a>培训方式</a></li>
        </div>
    </div>
    <div class="pnavtopr">
        <div class="tabBodyContainer">
            <div class="tabBodyItem tabBodyCurrent">
                <div class="sumname">扬翔大学简介</div>
                <div class="sumtext">
                    <p>扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业。 公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、
                        稳定、高效的整体解决方案 。 为此公司投巨资建设扬翔地方猪创新研究院，扬翔疫病检测中心及扬翔化验中心。公司依靠领先的技术优势和诚挚的服务， 2000年跻身为广西饲料业龙头
                        企业，陆续获得“农业产业化国家重点龙头企业”、“全国饲料业科技创新先进集体”、 “全国三十强饲料企业”、“ 最佳公益企业”、“中国饲料业优秀企业文化企业”等多项荣誉。
                        扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业。 扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业。
                        公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案 。 为此公司投巨资建设扬翔地方猪创新研究院，扬翔疫病
                        检测中心及扬翔化验中心。公司依靠领先的技术优势和诚挚的服务， 2000年跻身为广西饲料业龙头企业，陆续获得“农业产业化国家重点龙头企业”、“全国饲料业科技创新先进集体”
                        、 “全国三十强饲料企业”、“ 最佳公益企业”、“中国饲料业优秀企业文化企业”等多项荣誉。</p>
                    <p>扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业。 公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、
                        稳定、高效的整体解决方案 。 为此公司投巨资建设扬翔地方猪创新研究院，扬翔疫病检测中心及扬翔化验中心。公司依靠领先的技术优势和诚挚的服务， 2000年跻身为广西饲料业龙头
                        企业，陆续获得“农业产业化国家重点龙头企业”、“全国饲料业科技创新先进集体”、 “全国三十强饲料企业”、“ 最佳公益企业”、“中国饲料业优秀企业文化企业”等多项荣誉。
                        扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业。 扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业。
                        公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案 。 为此公司投巨资建设扬翔地方猪创新研究院，扬翔疫病
                        检测中心及扬翔化验中心。公司依靠领先的技术优势和诚挚的服务， 2000年跻身为广西饲料业龙头企业，陆续获得“农业产业化国家重点龙头企业”、“全国饲料业科技创新先进集体”
                        、 “全国三十强饲料企业”、“ 最佳公益企业”、“中国饲料业优秀企业文化企业”等多项荣誉。肉食品加工业为主导，兼营育种的现代大型农牧企业。 扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业。
                        公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案 。 为此公司投巨资建设扬翔地方猪创新研究院，扬翔疫病
                    </p>
                </div>
                <div class="sumvideo"></div>
            </div>
        </div>
        <div class="tabBodyContainer">
            <div class="tabBodyItem">
                <div class="sumname">建设标准</div>
                <div class="sumtext">
                    <p>扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业。 公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、
                       研究院，扬翔疫病检测中心及扬翔化验中心。公司依靠领先的技术优势和诚挚的服务， 2000年跻身为广西饲料业龙头</p>
                </div>
                <div class="jsconten" style="background: #e6e6e6;">
                    <img src="/static/index/images/3.jpg">
                    <div class="jsnav">专业化
                        <ul>
                            <li>组建专业化的师资团队</li>
                            <li>扬翔疫病检测中心及扬</li>
                            <li>组建专业化的师</li>
                            <li>组建专业化</li>
                        </ul>
                    </div>
                    <div class="jsshu">01</div>
                </div>
                <div class="jsconten">
                    <div class="jsshu">02</div>
                    <div class="jsnav">专业化
                        <ul>
                            <li>组建专业化的师资团队</li>
                            <li>扬翔疫病检测中心及扬</li>
                            <li>组建专业化的师</li>
                            <li>组建专业化</li>
                        </ul>
                    </div>
                    <img src="/static/index/images/3.jpg">
                </div>
                <div class="jsconten" style="background: #e6e6e6;">
                    <img src="/static/index/images/3.jpg">
                    <div class="jsnav">专业化
                        <ul>
                            <li>组建专业化的师资团队</li>
                            <li>扬翔疫病检测中心及扬</li>
                            <li>组建专业化的师</li>
                            <li>组建专业化</li>
                        </ul>
                    </div>
                    <div class="jsshu">03</div>
                </div>
                <div class="jsconten">
                    <div class="jsshu">04</div>
                    <div class="jsnav">专业化
                        <ul>
                            <li>组建专业化的师资团队</li>
                            <li>扬翔疫病检测中心及扬</li>
                            <li>组建专业化的师</li>
                            <li>组建专业化</li>
                        </ul>
                    </div>
                    <img src="/static/index/images/3.jpg">
                </div>
            </div>
        </div>
        <div class="tabBodyContainer">
            <div class="tabBodyItem">
                <div class="sumname">建设标准</div>
                <div class="sumtext">
                    <p>扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业。 公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、
                        研究院，扬翔疫病检测中心及扬翔化验中心。公司依靠领先的技术优势和诚挚的服务， 2000年跻身为广西饲料业龙头</p>
                </div>
                <div class="jsconten" style="background: #e6e6e6;">
                    <img src="/static/index/images/3.jpg">
                    <div class="jsnav">专业化
                        <ul>
                            <li>组建专业化的师资团队</li>
                            <li>扬翔疫病检测中心及扬</li>
                            <li>组建专业化的师</li>
                            <li>组建专业化</li>
                        </ul>
                    </div>
                    <div class="jsshu">01</div>
                </div>
                <div class="jsconten">
                    <div class="jsshu">02</div>
                    <div class="jsnav">专业化
                        <ul>
                            <li>组建专业化的师资团队</li>
                            <li>扬翔疫病检测中心及扬</li>
                            <li>组建专业化的师</li>
                            <li>组建专业化</li>
                        </ul>
                    </div>
                    <img src="/static/index/images/3.jpg">
                </div>
                <div class="jsconten" style="background: #e6e6e6;">
                    <img src="/static/index/images/3.jpg">
                    <div class="jsnav">专业化
                        <ul>
                            <li>组建专业化的师资团队</li>
                            <li>扬翔疫病检测中心及扬</li>
                            <li>组建专业化的师</li>
                            <li>组建专业化</li>
                        </ul>
                    </div>
                    <div class="jsshu">03</div>
                </div>
                <div class="jsconten">
                    <div class="jsshu">04</div>
                    <div class="jsnav">专业化
                        <ul>
                            <li>组建专业化的师资团队</li>
                            <li>扬翔疫病检测中心及扬</li>
                            <li>组建专业化的师</li>
                            <li>组建专业化</li>
                        </ul>
                    </div>
                    <img src="/static/index/images/3.jpg">
                </div>
            </div>
        </div>
        <div class="tabBodyContainer">
            <div class="tabBodyItem">
                <div class="sumname">培 训 方 式</div>
                <div class="daxue">
                    <img src="/static/index/images/daxue.jpg">
                    <div class="dx">
                        <div class="dx_div">
                            <div class="dx_title">扬翔集团扬翔集团是一家以饲料业、养猪业、</div>
                            <div class="dx_titles">扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业扬翔集团是一家以饲料业、养猪业、
                                扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导
                                </div>
                        </div>
                    </div>
                </div>
                <div class="sumname">图 片 展 示</div>
                <div class="display">
                    <img src="/static/index/images/3.jpg">
                    <img src="/static/index/images/3.jpg">
                    <img src="/static/index/images/3.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script language="Javascript" type="text/Javascript" src="/static/index/js/feed.js"></script>
</html>