<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="about-index" class="content-box">
    <div id="slide-bar" class="slide-bar">
        <ul>
            <li data-id="us" class="active"><a href="about" ref="nofollow">关于扬翔</a></li>
            <li data-id="company" ><a href="news" ref="nofollow">公司动态</a></li>
            <li data-id="workenv"><a href="culture" ref="nofollow">公司文化</a></li>
            <li data-id="contact"><a href="contact" ref="nofollow">联系我们</a></li>
        </ul>
    </div>
    <div class="content-detail">
        <div class="panel-wrap introduce">
            <div class="panel-title"><span>6666666666666</span></div>
           6666666666666

        </div>
    </div>
    <div class="content-detail">
        <div class="panel-wrap introduce">
            <div class="panel-title"><span>6666666666666</span></div>
            6666666666666

        </div>
    </div>
    <div class="content-detail">
        <div class="panel-wrap">
            <div class="panel-title"><span>联系我们</span></div>
            <div class="panel-content">
                <div class="contact-info">
                    <div>
                        <label>商务合作:</label><span style="text-align: left;"><a href="mailto:business@megvii.com"><i class="icons about-email"></i>business@megvii.com</a><span style="text-align: left;"><i class="icons about-phone"></i>{$info.phone}<span>（周一至周五 10:00 - 18:30）</span></span></span>
                    </div>
                    <div>
                        <label>售后支持:</label><span><a href="mailto:support@megvii.com"><i class="icons about-email"></i>66666666666</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-item-wrap">
            <div class="contact-item-title info">广西贵港总部：</div>
            <div class="contact-item-desc">{$info.address}</div>
            <div class="contact_map" id="contact_map">
                <div class="wrap">
                </div>
            </div>

        </div>
    </div>
        <div class="content-detail">
            <div class="matts_wrap">
                <h3 class="matts_title"><span>111111111111</span></h3>
                <ul class="matts_ul">
                    111111111111111111
                    222222222222222
                    <li class="matts_li"><img src="__PUBLIC__{$lo.pic}"><p><span class="pc">{$lo.title}</span></p></li>
                </ul>
            </div>


        </div>
</div>

</body>
</html>