<style type="text/css">
    *{ padding: 0; margin: 0; } .think_default_text{ padding: 4px 48px;} a{color:#2E5CD5;cursor: pointer;text-decoration: none} a:hover{text-decoration:underline; } body{ background: #fff; font-family: "Century Gothic","Microsoft yahei"; color: #333;font-size:18px} h1{ font-size: 100px; font-weight: normal; margin-bottom: 12px; } p{ line-height: 1.6em; font-size: 42px }
</style>


<center>

       <div style="padding: 24px 48px;">
        <h1>
            :)
        </h1>
        <p>
            LotusAdmin-page V2.0
            <br/>
            <span style="font-size:30px">
                其实蛮认真写出来的东西，希望大家喜欢,然后祝大家新年快乐
            </span>
        </p>
        <span style="font-size:22px;">



            [ V2.0 版本由
            <a href="http://www.cnblogs.com/wenhainan/" target="_target">
                闻海南
            </a>
            独立开发并且发布 ]
            <a href="{:url('admin/index/index')}" target="_target">
                进入后台...
            </a>
            <br>
            <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=dd7e59449f559df91ebf5241f392715a2279fe7fadd282315b2cbc80649cb1ab">
            加入QQ群获取源码并取得技术支持</a>
        </span>

    </div>

    <div style="margin-left: 60px;">
        <p style="font-size: 15px;"> 没钱买茶叶蛋了，求捐助..........</p>
    </div>
    <div>
            <img style="margin-left: 50px;" height="500px" src="__static__/index/image/alipay.jpg" alt="">
    </div>
</center>




