{include file="public:header"}
<script src="https://webapi.amap.com/js/marker.js"></script>
<script src="https://webapi.amap.com/maps?v=1.4.2&key=270729cb85d57dc2fc4a9daf217fee20"></script>
<script type="text/javascript" src="https://webapi.amap.com/demos/js/liteToolbar.js"></script>

<script language="Javascript" type="text/Javascript" src="/static/jquery-3.3.1.min.js"></script>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
<style type="text/css">
    #second_div{
        margin-top: 100px;
    }
    .img_box{
        overflow: hidden;
        width:100%;
        height:100%;
        position:relative;
    }
    .img_box img{
        width:100%;
        height: 100%;
        position:absolute;
    }
    /*.ul5{*/
        /*list-style: none;*/
        /*position:absolute;*/
        /*left:850px;*/
        /*bottom: 0px;*/
    /*}*/
    /*.ul5 li{*/
        /*float:left;*/
        /*margin-left:20px;*/
        /*width:15px;*/
        /*height:15px;*/
        /*border-radius: 50%;*/
        /*background:gray;*/
    /*}*/
    .d1,.d2{
        width:50px;
        height:60px;
        background-color: rgba(10,10,10,0.5);
        text-align: center;
        font-size:26px;
        line-height:60px;
        cursor: pointer;
    }
    .d1{
        position:absolute;
        top:507px;
        left:25px;
    }
    .d2{
        position:absolute;
        top:507px;
        right: 25px;
    }
</style>
<div>
<div id="second_div">
    <div class="img_box">
        {if condition="isset($bannerinfo) && !empty($bannerinfo)"}
        {volist name="$bannerinfo" id='item'}
        <img src="{$item|default=''}">
        {/volist}
        {/if}
    </div>
    <!--<ul class="ul5">-->
        <!--<li></li>-->
        <!--<li></li>-->
        <!--<li></li>-->
        <!--<li></li>-->
    <!--</ul>-->
    <div class="d1"><</div>
    <div class="d2">></div>
</div>

<!--关于扬翔-->
<div class="onyx ">
    <div class="tb">
        <!--<div class="onyx_text">About Yang Xiang</div>-->
        <div class="onyx_text">关于扬翔</div>
    </div>
    <div class="onyx_content">
        <div class="onyx_detail fadeInLeft TwoAnimated">
            <div class="onyx_tit">Guang xi &nbsp;yang xiang &nbsp;co . &nbsp;LTD .</div>
            <div class="onyx_name">{$profile['title']|default=''}</div>
            <div class="onyx_em">{$profile['text']|default=''}</div>
            <a href="/index/into/into.html">
                <div class="onyx_more">点击了解更多</div>
            </a>
        </div>
        <img class="onyx_img fadeInRight TwoAnimated" src="{$profile['image']|default=''}">
    </div>
</div>
<!--扬翔分公司分布-->
<div class="buted">
    <div class="tb" style="background: #fcf9f2;padding-bottom: 50px;">
        <!--<div class="onyx_text">Branch &nbsp;distri bution</div>-->
        <div class="onyx_text">扬翔分公司分布</div>
    </div>
    <div class="buteda">
        <div id="Tabfen" style="background: #fcf9f2;">
            <div class="tabfenItemContainer">
                <li data-type="1"><a class="tabfenItemCurrent">饲料分公司</a></li>
                <li data-type="2"><a>养猪分公司</a></li>
            </div>
            <div class="tabfenBodyContainer">
                <div class="tabfenBodyItem tabfenBodyCurrent">
                    <div class="map" id="container">

                    </div>
                </div>
                <div class="tabfenBodyItem">

                </div>
            </div>
        </div>

    </div>
</div>
<!--国际合作-->
<div class="onyx">
    <div class="tb">
        <!--<div class="onyx_text">International cooperation</div>-->
        <div class="onyx_text">国际合作</div>
    </div>
    <div class="onyx_content">
        <img class="onyx_img fadeInRight TwoAnimated" src="{$newslist.thumb}">
        <div class="onyx_detail fadeInLeft TwoAnimated">
            <div class="onyx_name" style="margin-top: 20px;line-height: 30px;">{$newslist.title}</div>
            <div class="onyx_em">{$newslist.introduction}</div>
            <a href="/index/details/international.html">
                <div class="onyx_more"> 点击了解更多</div>
            </a>
        </div>
    </div>
</div>
<!--产品介绍-->
<div class="buted" style="background: #f2f3f5;padding-bottom: 100px;">
    <div class="tb" style="padding-bottom: 50px;">
        <!--<div class="onyx_text">Proguct introduction</div>-->
        <div class="onyx_text">产品介绍</div>
    </div>
    <div class="goodsb">
        {volist name="productlist" id="vo"}
        <div class="goodsl fadeInRight TwoAnimated">
            <img src="{$vo.thumb}">
            <div class="gooodslbtm">
                <div class="jies">{$vo.title}</div>
                <div class="goods_span">{$vo.introduction}</div>
            </div>
        </div>
        {/volist}
    </div>
</div>
<!--新闻中心-->
<div class="onyx">
    <div class="tb">
        <!--<div class="onyx_text">News Center</div>-->
        <div class="onyx_text">新闻中心</div>
    </div>
    <div class="newb">

        <div class="newl fadeInRight TwoAnimated" >
            <div class="newl_name">扬翔新闻</div>
            <a style="color:#000" href="/index/details/details.html?table=article&id={$news1.id}">
            <div class="newl_imgs"><img src="{$news1.thumb}"></div>
            <div class="newtext">{$news1.title}</div>
            <div class="new_span">{$news1.introduction}</div>
            </a>
        </div>
        <div class="newl fadeInUp TwoAnimated" >
            <div class="newl_name">扬翔视频</div>
            <div class="newl_imgs"><img src="{$video.image}"></div>
            <div class="newtext">{$video.title}</div>
            <div class="new_span">{$video.describe}</div>
        </div>
        <div class="newl fadeInDown TwoAnimated">
            <div class="newl_name">媒体报道</div>
            <a style="color:#000" href="/index/details/details.html?table=article&id={$news1.id}">
                <div class="newl_imgs"><img src="{$news2.thumb}"></div>
            <div class="newtext">{$news2.title}</div>
            <div class="new_span">{$news2.introduction}</div>
            </a>
        </div>
    </div>


</div>
</div>
<script language="Javascript" type="text/Javascript" src="/static/index/js/feed.js"></script>
<script>

    var map = new AMap.Map('container', {resizeEnable: true, zoom: 5,zoomEnable:false,});
    var infoWindow = new AMap.InfoWindow({offset: new AMap.Pixel(0, -30)});
    var markers = [];
    var url="{:url('index/index/getCompanyList')}"
    $.post(url,{type:1},function (res) {
       if(res.code==1){
           getmap(res.data)
       }
    },'json')

   $('.tabfenItemContainer li').click(function () {
       $('.tabfenItemContainer li a').removeClass('tabfenItemCurrent');
         $(this).find('a').addClass('tabfenItemCurrent');
           var type= $(this).attr('data-type');
          $.post(url,{type:type},function (res) {
           if(res.code==1){
               map.remove(markers);
               getmap(res.data)
           }
       },'json')
   })


    function getmap(data) {
        markers=[];
        for (var i = 0, marker; i < data.length; i++) {
            var position=data[i].location.split(',');

            var html = ' <div class="map_com">\n' +
                '                                    <div class="map_left">\n' +
                '                                        <div class="map_name">'+data[i].title+'</div>\n' +
                '                                        <div class="map_xia"></div>\n' +
                '                                        <div class="map_jianjie">'+data[i].describle+'</div>'+
                '                                        <div class="map_address">地址:'+data[i].address+'</div>\n' +
                '                                        <div class="map_phone">\n' +
                '                                            <div class="phone_text">联系电话：'+data[i].tel+'</div>\n' +
                '                                            <img src="/static/index/images/phonef.png">\n' +
                '                                        </div>\n' +
                '                                    </div>\n' +
                '                                    <img src="'+data[i].image+'">\n' +
                '                                </div>';

            var marker = new AMap.Marker({
                position: [position[1],position[0]],
                map: map
            });

            marker.content = html;
            markers.push(marker);
            marker.on('click', markerClick);
        }
        map.setFitView();
        map.setZoomAndCenter(4, [104.205467, 39.857761]);
        //    map.setLimitBounds(map.getBounds());
    }




    function markerClick(e) {
        infoWindow.setContent(e.target.content);
        infoWindow.open(map, e.target.getPosition());
    }


    //轮播图
    $(document).ready(function(){
//搜索按钮
        $("#ss").click(function(){
            var new_li = $("<li>"+ $("#skuang").val() +"</li>");
            $("#d1 ul").append(new_li);
            $("#d1").hide();
            $("#skuang").val("");

        })

        $("#skuang").focus(function(){
            $("#d1").css("display","block");
        });

        $("#skuang").blur();
        $("#qingch").click(function(){
            $("#d1 li:gt(0)").remove();
            $("#d1").hide();

        });

//轮播图
        var img=$(".img_box img");
        var li=$(".ul5 li");
        var divW=$(".img_box").width();
        var len=$(".img_box img").length;
        img.css("left",divW);
        img.eq(0).css("left",0);
        li.eq(0).css("background","white");
        var index=0;
        var next=0;
        function show(){
            next++;
            if(next==len){
                next=0;
            }
            img.eq(next).css("left",divW);
            img.eq(index).animate({"left":-divW});
            img.eq(next).animate({"left":0});
            li.eq(next).css("background","white");
            li.eq(index).css("background","gray");
            index=next;
        }
        t=setInterval(show,3000);
        function show1(){
            next--;
            if(next==-1){
                next=len-1;
            }
            img.eq(next).css("left",-divW);
            img.eq(index).animate({"left":divW});
            img.eq(next).animate({"left":0});
            li.eq(next).css("background","white");
            li.eq(index).css("background","gray");
            index=next;
        }
        img.hover(function(){
            clearInterval(t);
        },function(){
            t=setInterval(show,2000);
        })
        //左右按钮
        $(".d2").mousedown(function(){
            clearInterval(t);
            show();
        })
        $(".d2").mousedown(function(){
            t=setInterval(show,2000);
        })
        $(".d1").mousedown(function(){
            clearInterval(t);
            show1();
        })
        $(".d1").mousedown(function(){
            t=setInterval(show,2000);
        })
        //小白点 点击
        li.mousedown(function(){
            num=$(this).index();
            if(num==next){
                return;
            }else if(num<next){
                clearInterval(t);
                img.eq(num).css("left",-divW);
                img.eq(index).animate({"left":divW});
                img.eq(num).animate({"left":0});
                li.eq(num).css("background","white");
                li.eq(index).css("background","gray");
                index=num;
                next=num;
            }else if(num>next){
                clearInterval(t);
                img.eq(num).css("left",divW);
                img.eq(index).animate({"left":-divW});
                img.eq(num).animate({"left":0});
                li.eq(num).css("background","white");
                li.eq(index).css("background","gray");
                index=num;
                next=num;
            }
        })
        li.mouseup(function(){
            t=setInterval(show,2000);
        })
    })

</script>

{include file="public:foot"}