{include file="public:header"}

    <!--视频-->
    <!--<img style="width: 100%;margin-top: 100px;" src="/static/index/images/2.jpg" >-->

    <img style="width: 100%;margin-top: 100px;" src="{$bannerinfo['imgurl'][0]}" >
    <!--关于扬翔-->
    <div class="onyx">
        <div class="onyx_text">关 于 扬 翔</div>
        <div class="onyx_content">
            <div class="onyx_detail" style="overflow:hidden;height: 540px;">
                <p>Guang xi &nbsp;yang xiang &nbsp;co . &nbsp;LTD .</p>
                <p class="onyx_name">广 西 扬 翔 股 份 有 限 公 司</p>
                <div class="onyx_em">扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业。
                    公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案 。
                    为此公司投巨资建设扬翔地方猪创新研究院，扬翔疫病检测中心及扬翔化验中心。公司依靠领先的技术优势和诚挚的服务，
                    2000年跻身为广西饲料业龙头企业，陆续获得“农业产业化国家重点龙头企业”、“全国饲料业科技创新先进集体”、
                    “全国三十强饲料企业”、“ 最佳公益企业”、“中国饲料业优秀企业文化企业”等多项荣誉。
                     扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业。
                    扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业。
                    公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案 。
                    为此公司投巨资建设扬翔地方猪创新研究院，扬翔疫病检测中心及扬翔化验中心。公司依靠领先的技术优势和诚挚的服务，
                    2000年跻身为广西饲料业龙头企业，陆续获得“农业产业化国家重点龙头企业”、“全国饲料业科技创新先进集体”、
                    “全国三十强饲料企业”、“ 最佳公益企业”、“中国饲料业优秀企业文化企业”等多项荣誉。
                    公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案 。
                    为此公司投巨资建设扬翔地方猪创新研究院，扬翔疫病检测中心及扬翔化验中心。公司依靠领先的技术优势和诚挚的服务，
                    2000年跻身为广西饲料业龙头企业，陆续获得“农业产业化国家重点龙头企业”、“全国饲料业科技创新先进集体”、
                    “全国三十强饲料企业”、“ 最佳公益企业”、“中国饲料业优秀企业文化企业”等多项荣誉。</div>
                <a href="#"><div class="onyx_more">点击了解更多</div></a>
                <div class="onyx_em" >{$profile['text']}</div>
                <a href="#"><div class="onyx_more">点击了解更多</div></a>
            </div>
            <img class="onyx_img" src="/static/index/images/3.jpg" >
        </div>
    </div>
    <!--扬翔分公司分布-->
    <div class="buted">
        <div class="buteda">
            <p>Branch &nbsp;distri bution</p>
            <p>扬 翔 分 公 司 分 布</p>
            <div class="buted_map"></div>
        </div>
    </div>
    <!--公司视频-->
        <div class="vd">
            <p>The &nbsp;company &nbsp;video</p>
            <p>公 司 视 频 </p>
            <div class="video">
                <video src="{$bannerinfo['video']}" style="width: 100%;height: 100%" controls="controls">
                    您的浏览器不支持 video 标签。
                </video>
            </div>
        </div>
    <!--国际合作-->
    <div class="concur">
        <div class="concura">
            <p>Inter national cooperation</p>
            <p>国际合作</p>
            <div class="concurb">
                {volist name="newslist" id="vo"}
                <div class="concurl">
                    <img src="/static/index/images/3.jpg">
                    <div class="biao">标题公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养</div>
                    <div class="concur_span">公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案 。
                        2000年跻身为广西饲料业龙头企业，陆续获得“农业产业化国家重点龙头企业”、“全国饲料业科技创新先进集体”公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案 。
                        2000年跻身为广西饲料业龙头企业，陆续获得“农业产业化国家重点龙头企业</div>
                </div>
                <div class="concurl">
                    <img src="/static/index/images/3.jpg">
                    <div class="biao">标题</div>
                    <div class="concur_span">公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案 。
                        2000年跻身为广西饲料业龙头企业，陆续获得“农业产业化国家重点龙头企业”、“全国饲料业科技创新先进集体”</div>
                    <a href="#"><img src="{$vo.thumb}">
                    <div class="biao">{$vo.title}</div>
                    <span>{$vo.introduction}</span>
                    </a>
                </div>
                {/volist}
                
                </div>
        </div>
    </div>

    <!--产品介绍-->
    <div class="goods">
        <div class="goodsa">
            <p>P r o d u c t &nbsp;i n t r o d u c t i o n</p>
            <p>产 品 介 绍</p>
            <div class="goodsb">
                {volist name="productlist" id="vo"}
                <div class="goodsl">
                    <img src="{$vo.image}">
                    <div class="gooodslbtm">
                        <div class="jies">标题公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪</div>
                        <div class="goods_span">公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案 。
                        2000年跻身为广西饲料业龙头企业，陆续获得“农业产业化国家重点龙头企业”、“全国饲料业科技创新先进集体”</div>
                    </div>
                </div>
                {/volist}
            </div>
        </div>
    </div>
    <!--新闻中心-->
    <div class="new">
        <div class="newa">
            <p>N e w s &nbsp;C e n t e r</p>
            <p>新闻中心</p>
            <div class="newb">
                <div class="newl">
                    <p>扬翔新闻</p>
                    <img src="/static/index/images/3.jpg">
                    <div class="newtext">标题公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小</div>
                    <div class="new_span">公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案 。
                        2000年跻身为广西饲料业龙头企业，陆续获得“农业产业化国家重点公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案 。
                        2000年跻身为广西饲料业龙头企业，陆续获得“农业产业化国家重点龙头企业”、“全国饲料业科技创新先进集体”</div>
                </div>
                <div class="newl">
                    <p>扬翔视频</p>
                    <img src="{$video.image}">
                    <div class="newtext">{$video.title}</div>
                    <span>{$video.describe}</span>
                </div>
                <div class="newl">
                    <p>媒体报道</p>
                    <img src="/static/index/images/3.jpg">
                    <div class="newtext">标题</div>
                    <div class="new_span">公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案 。
                        2000年跻身为广西饲料业龙头企业，陆续获得“农业产业化国家重点龙头企业”、“全国饲料业科技创新先进集体”</div>
                </div>
            </div>
        </div>
    </div>
{include file="public:foot"}