<!DOCTYPE html>
<html lang="en">
<head>
    <title>扬翔股份发展历程动画原型</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
    #content{
        width:1200px;
        background-color:green;
        margin: 0 auto;
    }
    .item1{
        float: left;
    }
</style>
<body>
<!-- 节点存放区域 -->
<div id="content">
    <div class="item1"><img src="" style="width: 500px;height: 300px"></div>
    <div class="item1"><img src="" style="width: 500px;height: 800px"></div>
    <div style="clear: both"></div>
</div>
<div><img src="" style="width: 300px;height: 600px;"></div>

</body>


</html>