<!DOCTYPE html>
<html lang="en">
<head>
    <title>扬翔股份发展历程动画原型</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<style type="text/css">

    #demo { overflow:hidden;
        background: #FFF;
        overflow:hidden;
        border: 1px dashed #CCC;
        width: 940px;
    }
    #demo img {
        border: 3px solid #F2F2F2;
    }
    #indemo {
        float: left;
        width: 800%;
    }
    #demo1 {
        float: left;
    }
    #demo2 {
        float: left;
    }
    img{
        width:200px;
        height:200px;
    }

</style>
<div id="demo">
    <div id="indemo">
        <div id="demo1">
            <img src="images/teams/rehuo.jpg"/>
            <img src="images/teams/huren.jpg"/>
            <img src="images/teams/huojian.jpg"/>
            <img src="images/teams/maci.jpg"/>
            <img src="images/teams/kaierteren.jpg"/>
            <img src="images/teams/jueshi.jpg"/>
            <img src="images/teams/lanwang.jpg"/>
            <img src="images/teams/sll.jpg"/></div>
        <div id="demo2"></div>
    </div>
</div>
<script>
//    var speed=10; //数字越大速度越慢
//    var tab=document.getElementById("demo");
//    var tab1=document.getElementById("demo1");
//    var tab2=document.getElementById("demo2");
//    tab2.innerHTML=tab1.innerHTML;
//    function Marquee(){
//        if(tab2.offsetWidth-tab.scrollLeft<=0)
//            tab.scrollLeft-=tab1.offsetWidth
//        else{
//            tab.scrollLeft++;
//        }
//    }
//    var MyMar=setInterval(Marquee,speed);
//    tab.onmouseover=function() {clearInterval(MyMar)};
//    tab.onmouseout=function() {MyMar=setInterval(Marquee,speed)};

</script>

</body>
</html>