<!DOCTYPE html>
<html lang="en">
{include file="public:header"}
<head>
    <meta charset="UTF-8">
    <title>国际合作</title>
    <link href="/static/index/css/manpower.css" type="text/css" rel="stylesheet">
    <link href="/static/index/css/feed.css" type="text/css" rel="stylesheet">
    <script src="__AdminLTE__/bower_components/jquery/dist/jquery.min.js"></script>
</head>

<body>
<img src="{$bannerinfo[1]|default=''}" style="margin-top: 100px;width: 100%;">
<div class="school_top">
    <div class="school_topa">国际合作</div>
</div>
<div class="school_nav">
    {volist name="list" id="vo"}
    <a href="details.html?table=publiclist&id={$vo.id}&sign=details" style="color: #000">
    <div class="school_con">
        <img src="{$vo.thumb}">
        <div class="school_conl">
            <div class="school_name">{$vo.title}</div>
            <div class="school_texts" style="margin-top: 20px;">{$vo.introduction}</div>
        </div>
    </div>
    </a>
    {/volist}
    {$list->render()}
</div>
<div class="school_top">
    <div class="school_topa">专家顾问</div>
</div>
<div style="width: 1200px;margin: 50px auto;" class="school2">
    {volist name="list2" id="vo"}
    <a href="details.html?table=publiclist&id={$vo.id}&sign=details" style="color: #000">
    <div class="studyt" style="margin-top: 20px;">        
        <div class="studytcon">
            <img src="{$vo.thumb}">
            <p class="studyt_name">{$vo.title}</p>
            <p class="yuanshi">{$vo.introduction}</p>
            <div class="studyt_text">{$vo.content}</div>
        </div>
    </div>
    </a>
    {/volist}
    {$list2->render()}
</div>

</body>

<script>
    function init(){
        $(".school_nav .pagination").eq(0).find('a').each(function(){
            var href=$(this).attr('href').substring(0,22);
            $(this).attr("href",href);
        });
        $(".school2 .pagination").find('a').each(function(){
            var href=$(this).attr('href').substring(0,22).replace('AjaxPage','AjaxPage2');
            $(this).attr("href",href);
        });
    };    
    init();
   var AjaxPage = function(page){
        $.ajax({
            url:'ajaxListAction',
            type:'post',
            dataType:'json',
            data: {apage:page,coid:5},
            success:function(data){
                var json=data.list.data;
                $(".school_nav").empty();
                for (var i = 0; i <json.length; i++) {
                    $(".school_nav").append('<a href="details.html?table=publiclist&id='+json[i].id+'&sign=details" style="color: #000"><div class="school_con"><img src="'+json[i].thumb+'"><div class="school_conl"><div class="school_name">'+json[i].title+'</div><div class="school_texts" style="margin-top: 20px;">'+json[i].introduction+'</div></div></div></a>');
                }                
                $(".school_nav").append(data.page);
                init();
            }
        });
    }
    var AjaxPage2 = function(page){
        $.ajax({
            url:'ajaxListAction',
            type:'post',
            dataType:'json',
            data: {apage:page,coid:6},
            success:function(data){
                var json=data.list.data;
                $(".school2").empty();
                for (var i = 0; i <json.length; i++) {
                    $(".school2").append('<a href="details.html?table=publiclist&id='+json[i].id+'&sign=details" style="color: #000"><div class="studyt" style="margin-top: 20px;"><div class="studytcon"><img src="'+json[i].thumb+'"><p class="studyt_name">'+json[i].title+'</p><p class="yuanshi">'+json[i].introduction+'</p><div class="studyt_text">'+json[i].content+'</div></div></div></a>');
                }                
                $(".school2").append(data.page);
                init();
            }
        });
    }
</script>
</html>
{include file="public:foot"}