{extend name='public/modal'}

{block name='content'}

<style type="text/css">
  .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: green
  }
  .layui-upload-img{width: 90px; height: 92px; margin: 0 10px 20px 0;}

  .demo { width: 651px; margin: 0 auto; font-family: arial,SimSun; font-size: 0;}
.demo .item { display: inline-block; width: 180px; height: 100px; margin-right: 20px; *display: inline; *zoom: 1;}
.demo span { display: block; height: 100px; line-height: 100px; font-size: 32px; text-align: center; color: #fff;}
</style>
<script src="/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/ueditor/ueditor.all.js"></script>
<link rel="stylesheet" href="/ueditor/themes/default/css/ueditor.css" rel="external nofollow" >
<link rel="stylesheet" href="__adminCss__/jquery.dad.css">
  <!-- Content Header (Page header) -->
    

    <!-- Main content -->
    <section class="content">
      <div class="row" >
        <div class="col-xs-12">
          <!-- /.box -->
          <div class="box" style="">
         
            <!-- /.box-header -->
            <div class="box-body"  style="width: 800px;">

                <form  id="mainForm" class="layui-form layui-form-line layui-form-pane" method='post' action='add_update' >       
                  <input style="display:none" type="text" value="{$info.id|default=''}" name="id">
                  <input style="display:none" type="text" value="2" name="coid"  >  
                  <input style="display:none" type="text" value="publiclist" name="tablename"  >                   
                      <div class="layui-form-item layui-input-inline">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-block">              
                       <select name="status">
                          {if condition="isset($info)"}
                            <option value ="0" {$info.status==0?'selected=\"true\"':''}>不发布</option>
                            <option value ="1"  {$info.status==1?'selected=\"true\"':''}>发布</option>
                          {else /}
                          <option value ="0">不发布</option>
                          <option value ="1">发布</option>
                          {/if}
                        </select>
                        </div>
                      </div>

                      <div class="layui-form-item layui-input-inline">
                        <label class="layui-form-label">类别</label>
                        <div class="layui-input-block">              
                       <select name="tid">
                          {if condition="isset($info)"}
                            <option value ="0" {$info.tid==0?'selected=\"true\"':''}>校企合作项目</option>
                            <option value ="1"  {$info.tid==1?'selected=\"true\"':''}>校企合作动态</option>
                          {else /}
                          <option value ="0">校企合作项目</option>
                          <option value ="1">校企合作动态</option>
                          {/if}
                        </select>
                        </div>
                      </div>
                      
                      <div class="layui-form-item">
                        <label class="layui-form-label">标题</label>
                        <div class="layui-input-block">
                          <input type="text" value="{$info.title|default=''}" name="title"  placeholder="请输入标题" autocomplete="off" class="layui-input">
                        </div>
                      </div>                      
                      <div class="layui-form-item ">
                        <label class="layui-form-label">简介</label>
                        <div class="layui-input-block">                          
                          <textarea name="introduction"  placeholder="请填写简介" class="layui-textarea">{$info.introduction|default=''}</textarea>
                        </div>
                      </div>
                       <div class="layui-form-item layui-input-inline">
                        <label class="layui-form-label">创建时间</label>
                        <div class="layui-input-block">
                          <input type="text" value="{$info.create_time|default=''}" name="create_time"  placeholder="请选择时间" autocomplete="off" class="layui-input" id="time1">
                        </div>
                      </div>                    
                     <div id="thumb" class="layui-form-item">
                        <label class="layui-form-label">缩略图</label>
                        <div class="layui-input-block">                         
                          <image src="{$info.thumb|default=''}" id="preview1" name="preview1" style="width:30%"/>
                          <input style="display:none" type="text" value="{$info.thumb|default=''}" name="thumb"  >
                          <button type="button" class="layui-btn uploadbtn" id="btn1">                            
                            <i class="layui-icon">&#xe67c;</i>上传图片
                          </button>                          
                         </div>
                      </div>
                      <div class="layui-form-item">
                        <label class="layui-form-label">排序</label>
                        <div class="layui-input-block">
                          <input type="text" value="{$info.sys_order|default='0'}" name="sys_order"  placeholder="请输入编号" autocomplete="off" class="layui-input">
                        </div>
                      </div>
                      <div class="layui-form-item" id="content">
                        <label class="layui-form-label">内容</label>
                        <div class="layui-input-block">
                          <p id="myEditor" name="content" style="width:1024px;height:500px;"></p>
                        </div>
                      </div>
                      
                <div class="" class="layui-form-item" >
                        <div class="layui-input-block submit_btn">
                          <button   class="layui-btn" lay-submit lay-filter="*">提交</button>
                          <button style="display: none;"  type="reset" class=" layui-btn layui-btn-primary">重置</button>
                        </div>
                </div>

                </form>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
{/block}


{block name='js'}
<script type="text/javascript">
  var indexsign=0;
  function setvalue(){
    var arry=[];
    $(".layui-upload-img").each(function(){
        if ($(this).parent().css('position')=='static') {
          var src=$(this).attr('src');
        var datavalue=$(this).attr('data-value');
        var item={"src":src,"describe":datavalue==undefined?'':datavalue};
        arry.push(item);
        }        
    });
    $("textarea[name='photo']").html(JSON.stringify(arry));
  }
</script>>
<script src="__adminJs__/jquery.dad.min.js"></script>
  <script type="text/javascript">   
    $("textarea[id='photodescribe2']").bind('input propertychange','textarea',function(){
        $(".layui-upload-img").eq(indexsign).attr('data-value',$(this).val());
        setvalue();
    });
    var editor = new baidu.editor.ui.Editor({ initialFrameWidth: 1024,initialFrameHeight: 500, scaleEnabled:true});
    editor.render("myEditor");
    editor.addListener("ready", function () {
        // editor准备好之后才可以使用
        editor.setContent('{$info.content|default=''}');
        });
    window.UEDITOR_HOME_URL='ueditor/';//此为ueditor相对于实例页面的路径
    $(function(){
        layui.use('laydate', function(){
        var laydate = layui.laydate;  
        //执行一个laydate实例
        var time=$('#time1').val();
          laydate.render({
            elem: '#time1' //指定元素
             ,type: 'datetime'
             ,value:time!=''?time:new Date()
          });
        });
        var options = {
              type:'post',           //post提交
              //url:'http://ask.tongzhuo100.com/server/****.php?='+Math.random(),   //url
              dataType:"json",        //json格式
              data:{},    //如果需要提交附加参数，视情况添加
              clearForm: false,        //成功提交后，清除所有表单元素的值
              resetForm: false,        //成功提交后，重置所有表单元素的值
              cache:false,
              async:false,          //同步返回
              success:function(data){
                    if(data.code==0){
                      layer.msg(data.msg);
                      location.href="index.html";
                    }else{
                      layer.msg(data.msg,{icon:1,time:500},function(){
                        $("#reset").click();
                        lotus_close();
                        parent.location.reload();
                      });
                    }
                  //服务器端返回处理逻辑
                },
                error:function(XmlHttpRequest,textStatus,errorThrown){
                  layer.msg('操作失败:服务器处理失败');
              }
            };
          layui.use('form', function(){
            var form = layui.form;
            $('#mainForm').ajaxForm(options).submit(function(data){});
            form.on('select(test)', function(data){
              var value=data.value;
              if (value==0) {
                 $("#thumb").show();
                 $("#content").show();
                 $("#photo").hide();
                 $("#photodescribe").hide();
              }
              else{
                 $("#thumb").hide();
                 $("#content").hide();
                 $("#photo").show();
                 $("#photodescribe").show();
              }
            });
          });
        });
    $('.deletebtn').click(function(){                   
        $(this).parent().remove();  
        setvalue();
     });
    layui.use('upload', function(){
        var upload = layui.upload; 
        //图片上传
        var uploadInst = upload.render({
          elem: '.uploadbtn' //绑定元素
          ,url: 'upload_file' //上传接口              
          ,accept: 'file' //允许上传的文件类型
          ,exts: 'jpg|png|gif|bmp|jpeg|docx|doc|'//允许上传的文件后缀
          ,size: 100000 //最大允许上传的文件大小
          ,data: {}//额外参数 
          ,multiple:true         
          ,done: function(res, index, upload){ //上传后的回调
            layer.closeAll('loading'); //关闭loading
            var name=$(this).attr('item').attr('id');
            //上传完毕回调
             if(res.status){ 
                if (name=="btn1"){
                  $('#preview1').attr("src",res.filesrc);
                  $('#preview1').addClass('layui-upload-img');
                  $("input[name='thumb']").val(res.filesrc);
                } 
                else{
                   
                   $('#demo2').append('<div><img src="'+ res.filesrc +'" alt="'+ res.filename +'" class="layui-upload-img"><a class="deletebtn" href="#"><i style="position: relative;left: -26px;top: -42px;font-size: 27px;z-index:99;" class="layui-icon">&#x1007;</i></a></div> ');
                   $('.deletebtn').click(function(){
                      $(this).parent().remove();
                      setvalue();
                      $('.demo').dad(); 
                   });
                   $('.demo').dad();
                   setvalue();                
                }                
                               
             }
          }
          ,before: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
              layer.load(); //上传loading            
          }
          ,error: function(){
            //请求异常回调            
          }
        });
      });
$(function(){ 
  $('.demo').dad();
});
  </script>
{/block}