<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>媒体报道</title>
    <link href="/static/index/css/yxnews.css" type="text/css" rel="stylesheet">
    <link href="/static/index/css/index.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="yxcontent">
            {volist name="list3" id="vo"}            
            <div class="yxlie">
            <img src="{$vo.thumb}" class="yximg">
            <div class="yxtt">
                <p class="newnames" >{$vo.title}</p>
                <p class="newtexts" >{$vo.introduction}</p>
                <div class="newspans">[查看详情]</div>
            </div>
            </div>
            {/volist}
           </div>
    {$page3}


</body>
</html>