<!DOCTYPE html>
<html lang="en">
<head>
    <script language="Javascript" type="text/Javascript" src="/static/jquery-3.3.1.min.js"></script>

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/index/css/two.css">
    <title>练习</title>
    
<body>

</head>


    <!-- 头部导航-->
    <div class="tabBar-css">
        <div class='logo-css'><img class='logo' src="/yx/img/fengjing.jpg"></img></div>
        <div class="yuyan-css"><text class="yuyan-text">中文/EN</text></div>
        <div class="index-css"><text class="idnex-text">首页</text></div>
        <div class="yx-css"><text class="yx-text">走进扬翔</text></div>
        <div class="product-css"><text class="product-text">产品中心</text></div>
        <div class="news-css"><text class="news-text">新闻中心</text></div>
        <div class="cx-css"><text class="cx-text">创新科研中心</text></div>
        <div class="user-css"><text class="user-text">用户中心</text></div>
        <div class="smart-css"><text class="smart-text">智慧扬翔</text></div>
        <div class='rl-css'><text class='rl-text'>人力资源中心</text></div>
    </div>
    
    <!--中间轮播图片-->

    <div class="mid-css"><text>暂无图片</text></div>

    <!--公司-->
    <div class="company">
        <text class="jj-text">公司简介</text>
        <text class="lc-text">发展历程</text>
        <text class="sy-text">公益事业</text>
    </div>


    <div id="TabMain">
    <div class="tabItemContainer">
        <li><a class="tabItemCurrent">选项卡1</a></li>
        <li><a>选项卡2</a></li>
        <li><a>选项卡3</a></li>
        <li><a>选项卡4</a></li>
        <li><a>选项卡5</a></li>
    </div>
    <div class="tabBodyContainer">
        <div class="tabBodyItem tabBodyCurrent">
            
        </div>
        <div class="tabBodyItem">
             <div class="fengongsi">
                <p class="text_css">1</p>
                <text class="mid-ss">分布地图</text>
            </div>
        </div>
        <div class="tabBodyItem">
             <div class="fengongsi">
                <p class="text_css">2</p>
                <text class="mid-ss">分布地图</text>
            </div>
        </div>
        <div class="tabBodyItem">
            <p>我是Tab选项卡4的内容</p>
            <p></p>
        </div>
        <div class="tabBodyItem">
           <div class="fengongsi">
                <p class="text_css">扬翔分公司简介</p>
                <text class="mid-ss">分布地图</text>
            </div>
        </div>
    </div>
</div>
<div class="mid-css"><text>暂无图片</text></div>
</body>
<script language="Javascript" type="text/Javascript" src="/static/index/js/two.js"></script>
</html>