<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/index/css/yxnews.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="pnavtop">
    <div class="pnavtopa">
        <p class="pnavtoptext"> &nbsp;扬 翔 视 频</p>
    </div>
    <div class="videonav">
        <div class="videott">
            <img class="videoimges">
            <div class="viobtm">
                <p class="vioname">标题</p>
                <div class="vio">
                    <div class="violeft">
                        <img src="/static/index/images/name.png">
                        <p class="vioren">啦啦啦</p>
                    </div>
                    <div class="vioright">
                        <img src="/static/index/images/yj.png">
                        <p>99999人看过</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="videott">
            <img class="videoimges">
            <div class="viobtm">
                <p class="vioname">标题</p>
                <div class="vio">
                    <div class="violeft">
                        <img src="/static/index/images/name.png">
                        <p class="vioren">啦啦啦</p>
                    </div>
                    <div class="vioright">
                        <img src="/static/index/images/yj.png">
                        <p>99999人看过</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="videonav">
        <div class="videott">
            <img class="videoimges">
            <div class="viobtm">
                <p class="vioname">标题</p>
                <div class="vio">
                    <div class="violeft">
                        <img src="/static/index/images/name.png">
                        <p class="vioren">啦啦啦</p>
                    </div>
                    <div class="vioright">
                        <img src="/static/index/images/yj.png">
                        <p>99999人看过</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="videott">
            <img class="videoimges">
            <div class="viobtm">
                <p class="vioname">标题</p>
                <div class="vio">
                    <div class="violeft">
                        <img src="/static/index/images/name.png">
                        <p class="vioren">啦啦啦</p>
                    </div>
                    <div class="vioright">
                        <img src="/static/index/images/yj.png">
                        <p>99999人看过</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>