<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/index/css/yxnews.css" type="text/css" rel="stylesheet">
    <link href="/static/index/css/index.css" type="text/css" rel="stylesheet">
</head>
<body>
{volist name="list2" id="vo"}
            <div class="vitop" style="{if condition="$i%2!=0"}background: #e6e6e6;{/if}">
            <div class="pdetail">
                 <div class="pdleft">
                <div class="pdbiaoti">0{$i}</div>
                <div class="vioname">{$vo.title}</div>
                <div class="pdnei">{$vo.describe}</div>
            </div>
             <img class="videoimg" src="{$vo.image}">
            </div>
            
            {/volist}
            {$page2}
</body>
</html>