<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/index/css/yxnews.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="vitop" style="background: #e6e6e6;margin-top: 30px;">
    <div class="pdetail">
        <div class="pdleft">
            <div class="pdbiaoti">01</div>
            <div class="vioname">公司致力于为公众提供健康</div>
            <div class="pdnei">公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案 。
                2000年跻身为广西饲公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案 。
                2000年跻身为广西饲料业龙头企业，陆续获得“农业产业化国家重点龙头企业”、“全国饲料业科技创新先进集体”</div>
        </div>
        <img class="videoimg" src="/static/index/images/4.jpg">
    </div>
</div>

<div class="vitop">
    <div class="pdetail">
        <img class="videoimg" src="/static/index/images/4.jpg">
        <div class="pdleft">
            <div class="pdbiaoti">02</div>
            <div class="vioname">公司致力于为公众提供健康</div>
            <div class="pdnei">公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案 。
                2000年跻身为广西饲料业龙头企业，陆续获得“农业产业化国家重点龙头企业”、“全国饲料业科技创新先进集体”</div>
        </div>
    </div>
</div>
<div class="vitop" style="background: #e6e6e6">
    <div class="pdetail">
        <div class="pdleft">
            <div class="pdbiaoti">03</div>
            <div class="vioname">公司致力于为公众提供健康</div>
            <div class="pdnei">公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案 。
                2000年跻身为广西饲料业龙头企业，陆续获得“农业产业化国家重点龙头企业”、“全国饲料业科技创新先进集体”</div>
        </div>
        <img class="videoimg" src="/static/index/images/4.jpg">
    </div>
</div>
<div class="vitop">
    <div class="pdetail">
        <img class="videoimg" src="/static/index/images/4.jpg">
        <div class="pdleft">
            <div class="pdbiaoti">04</div>
            <div class="vioname">公司致力于为公众提供健康</div>
            <div class="pdnei">公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案 。
                2000年跻身为广西饲料业龙头企业，陆续获得“农业产业化国家重点龙头企业”、“全国饲料业科技创新先进集体”</div>
        </div>
    </div>
</div>
</body>
</html>