<!DOCTYPE html>
{include file="public:header"}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>扬翔新闻</title>
    <link href="/static/index/css/yxnews.css" type="text/css" rel="stylesheet">
    <script language="Javascript" type="text/Javascript" src="/static/jquery-3.3.1.min.js"></script>
</head>
<body>
<img class="timg" src="{$bannerinfo[2]}">
<div id="TabMain">
    <div class="underline">
        <div class="tabItemContainer">
            <li><a  class="tabItemCurrent">扬翔新闻</a></li>
            <div class="lixian"></div>
            <li><a >扬翔视频</a></li>
            <div class="lixian"></div>
            <li><a >媒体报道</a></li>
        </div>
    </div>
    <div class="tabBodyContainer">
        <!--扬翔新闻-->
        <div class="tabBodyItem tabBodyCurrent">
            <div class="yxcontent">
            {volist name="list1" id="vo"}            
            <div class="yxlie">
            <img src="{$vo.thumb}" class="yximg">
            <div class="yxtt">
                <p class="newnames" >{$vo.title}</p>
                <p class="newtexts" >{$vo.introduction}</p>
                <div class="newspans">[查看详情]</div>
            </div>
            </div>
            {/volist}
           </div>
           {$page1}
        </div>
        <!--视频-->
        <div class="tabBodyItem">
            {volist name="list2" id="vo"}
            <div class="vitop" style="{if condition="$i%2!=0"}background: #e6e6e6;{/if}">
            <div class="pdetail">
                 <div class="pdleft">
                <div class="pdbiaoti">0{$i}</div>
                <div class="vioname">{$vo.title}</div>
                <div class="pdnei">{$vo.describe}</div>
            </div>
             <img class="videoimg" src="{$vo.image}">
            </div>
            
            {/volist}
            {$page2}
        </div>
        </div>
        <!--媒体报道-->
        <div class="tabBodyItem">
            <div class="yxcontent">
            {volist name="list3" id="vo"}            
            <div class="yxlie">
            <img src="{$vo.thumb}" class="yximg">
            <div class="yxtt">
                <p class="newnames" >{$vo.title}</p>
                <p class="newtexts" >{$vo.introduction}</p>
                <div class="newspans">[查看详情]</div>
            </div>
            </div>
            {/volist}
           </div>
           {$page3}
        </div>       
    </div>
</div>
</div>
</body>
<script src="/static/index/js/yxnews.js" type="text/javascript"></script>
<!-- <script type="text/javascript">
    var tid="{$tid}";
    $(".tabItemContainer a").each(function(){
   var href=$(this).attr('href');
   if (href.indexOf(tid)>0) {
       $(this).addClass('tabItemCurrent');
       $(".tabBodyItem").eq($(this).index()).addClass('tabBodyCurrent').siblings().removeClass("tabBodyCurrent");;
   }
})
$(".pagination a").each(function(){
   var href=$(this).attr('href');
   $(this).attr('href',href+'&&tid='+tid);
})
</script> -->
</html>
{include file="public:foot"}