<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/index/css/yxnews.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="pnavtop">
    <div class="pnavtopa">
        <p class="pnavtoptext"> &nbsp;扬 翔 新 闻</p>
    </div>
    <div class="yxcontent">
        <div class="yxlie">
            <img src="" class="yximg">
            <div class="yxtt">
                <p style="font-size: 20px;line-height: 50px;">领跑中国种猪基因改良系统解决方案和母仔猪领域精准营养解决方案的</p>
                <p style="font-size: 14px;line-height: 30px;color: #707070;">领跑中国种猪基因改良系统解决方案和母仔猪领域精准营养解决方案的广西秀博科技股份有限公司
                    ，是一家与国际接轨、资金雄厚、科技领先、有着...<span style="color: #ec6f01">[查看详情]</span></p>
                <div class="yxbtm">
                    <div class="yxbtml">
                        <img src="/static/index/images/name.png">
                        <p>啦啦啦</p>
                    </div>
                    <div class="yxbtmr">
                        <img src="/static/index/images/yj.png">
                        <p>99999人看过</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="yxlie">
            <img src="" class="yximg">
            <div class="yxtt">
                <p style="font-size: 20px;line-height: 50px;">领跑中国种猪基因改良系统解决方案和母仔猪领域精准营养解决方案的</p>
                <p style="font-size: 14px;line-height: 30px;color: #707070;">领跑中国种猪基因改良系统解决方案和母仔猪领域精准营养解决方案的广西秀博科技股份有限公司
                    ，是一家与国际接轨、资金雄厚、科技领先、有着...<span style="color: #ec6f01">[查看详情]</span></p>
                <div class="yxbtm">
                    <div class="yxbtml">
                        <img src="/static/index/images/name.png">
                        <p>啦啦啦</p>
                    </div>
                    <div class="yxbtmr">
                        <img src="/static/index/images/yj.png">
                        <p>99999人看过</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="yxlie">
            <img src="" class="yximg">
            <div class="yxtt">
                <p style="font-size: 20px;line-height: 50px;">领跑中国种猪基因改良系统解决方案和母仔猪领域精准营养解决方案的</p>
                <p style="font-size: 14px;line-height: 30px;color: #707070;">领跑中国种猪基因改良系统解决方案和母仔猪领域精准营养解决方案的广西秀博科技股份有限公司
                    ，是一家与国际接轨、资金雄厚、科技领先、有着...<span style="color: #ec6f01">[查看详情]</span></p>
                <div class="yxbtm">
                    <div class="yxbtml">
                        <img src="/static/index/images/name.png">
                        <p>啦啦啦</p>
                    </div>
                    <div class="yxbtmr">
                        <img src="/static/index/images/yj.png">
                        <p>99999人看过</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="yxlie">
            <img src="" class="yximg">
            <div class="yxtt">
                <p style="font-size: 20px;line-height: 50px;">领跑中国种猪基因改良系统解决方案和母仔猪领域精准营养解决方案的</p>
                <p style="font-size: 14px;line-height: 30px;color: #707070;">领跑中国种猪基因改良系统解决方案和母仔猪领域精准营养解决方案的广西秀博科技股份有限公司
                    ，是一家与国际接轨、资金雄厚、科技领先、有着...<span style="color: #ec6f01">[查看详情]</span></p>
                <div class="yxbtm">
                    <div class="yxbtml">
                        <img src="/static/index/images/name.png">
                        <p>啦啦啦</p>
                    </div>
                    <div class="yxbtmr">
                        <img src="/static/index/images/yj.png">
                        <p>99999人看过</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="yxlie">
            <img src="" class="yximg">
            <div class="yxtt">
                <p style="font-size: 20px;line-height: 50px;">领跑中国种猪基因改良系统解决方案和母仔猪领域精准营养解决方案的</p>
                <p style="font-size: 14px;line-height: 30px;color: #707070;">领跑中国种猪基因改良系统解决方案和母仔猪领域精准营养解决方案的广西秀博科技股份有限公司
                    ，是一家与国际接轨、资金雄厚、科技领先、有着...<span style="color: #ec6f01">[查看详情]</span></p>
                <div class="yxbtm">
                    <div class="yxbtml">
                        <img src="/static/index/images/name.png">
                        <p>啦啦啦</p>
                    </div>
                    <div class="yxbtmr">
                        <img src="/static/index/images/yj.png">
                        <p>99999人看过</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divpage">
        <span>共16页</span>
        <span>上一页</span>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <span>下一页</span>
    </div>
</div>

</body>
</html>