<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公益事业</title>
    <link href="/static/index/css/into.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="causecon">
    {volist name="gyshlists" id="vo" empty="暂时没有数据"}
    <div class="causecona">
        <img src="{$vo.image}" class="causeconimgs">
        <div class="causecontext">{$vo['title']}</div>
    </div>
    {/volist}
    <div style="clear: both;"></div>
    {$page}
<div style="clear: both"></div>
</div>
<!--<div class="causecon">-->
    <!--<div class="causecona">-->
        <!--<img src="/static/index/images/2.jpg" class="causeconimgs">-->
        <!--<div class="causecontext">扬翔集团是一家以饲料业扬翔</div>-->
    <!--</div>-->
    <!--<div class="causecona">-->
        <!--<img src="/static/index/images/2.jpg" class="causeconimgs">-->
        <!--<div class="causecontext">扬翔集团是一家以饲料业扬翔</div>-->
    <!--</div>-->
    <!--<div class="causecona">-->
        <!--<img src="/static/index/images/2.jpg" class="causeconimgs">-->
        <!--<div class="causecontext">扬翔集团是一家以饲料业扬翔</div>-->
    <!--</div>-->
<!--</div>-->
</body>
</html>