
<div class="cucontens">
    <div class="cuwen">
        <p class="cuname">用 科 技 改 变 养 猪 业</p>
        <p class="cutexts">致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案 。 为此公司投巨资建设扬翔地方猪创新研究院</p>
    </div>
    <div class="cubacolor">
        <div class="cunav">
            {volist name="clist" id="vo"}
            <div class="cunava">
                <img class="cunava_img" src="{$vo.thumb}">
                <p style="line-height: 70px;font-size: 20px;text-align: center;">{$vo.title}</p>
                <div class="cunavtext">{$vo.content}</div>
            </div>
            {/volist}
        </div>
    </div>
    <p style="text-align: center;font-size: 30px;line-height: 150px;">扬 翔 风 采</p>
    <div class="fengcai" id="item_item4" style="width: 1400px;overflow: hidden;height: 388px">
        <div class="item4_1" style="width: 800%;">
            <div id="item4_2" style="height:100%;float: left;display: flex;">
                {volist name="$yxfcList['img_url']" id="vo" empty="暂时没有数据"}
                <div style="margin:0 17.3px">
                    <img style="width: 432px;height: 288px;" src="{$vo}">
                </div>
                {/volist}
            </div>
            <div id="item4_3" style="height: 388px;float: left;display: flex;padding-top: 50px">
            </div>
        </div>
    </div>
</div>
<script>
    var speed = 15; //数字越大速度越慢
    var tab123 = document.getElementById("item_item4");
    var tab1123 = document.getElementById("item4_2");
    var tab2123 = document.getElementById("item4_3");
    var html123 = $('#item4_2').html();
    $('#item4_3').html(html123)
    function Marquee123() {
        if (tab2123.offsetWidth - tab123.scrollLeft <= 0)
            tab123.scrollLeft -= tab1123.offsetWidth
        else {
            tab123.scrollLeft++;
        }
    }
    var MyMar123 = setInterval(Marquee123, speed);
    tab123.onmouseover = function () {
        clearInterval(MyMar123)
    };
    tab123.onmouseout = function () {
        MyMar123 = setInterval(Marquee123, speed)
    };
</script>
