<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公司文化</title>
    <link href="/static/index/css/into.css" type="text/css" rel="stylesheet">
    <style type="text/css">

    </style>
</head>
<body>
<div class="cucontens">
    <div class="cuwen">
        <p class="cuname">用 科 技 改 变 养 猪 业</p>
        <p class="cutexts">致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案 。 为此公司投巨资建设扬翔地方猪创新研究院</p>
    </div>
    <div class="cubacolor">
        <div class="cunav">
            <div class="cunava">
                <div class="cunava_img"><img src=""></div>
                <p style="line-height: 100px;font-size: 20px;text-align: center;">核心价值观</p>
                <p>致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案 。 为此公司投巨资建设扬翔地方猪创新研究院</p>
            </div>
            <div class="cunava">
                <div class="cunava_img"><img src=""></div>
                <p style="line-height: 100px;font-size: 20px;text-align: center;">扬翔使命</p>
                <p>致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案 。 为此公司投巨资建设扬翔地方猪创新研究院</p>
            </div>
            <div class="cunava">
                <div class="cunava_img"><img src=""></div>
                <p style="line-height: 100px;font-size: 20px;text-align: center;">质量方针</p>
                <p>致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案 。 为此公司投巨资建设扬翔地方猪创新研究院</p>
            </div>
            <div class="cunava">
                <div class="cunava_img"><img src=""></div>
                <p style="line-height: 100px;font-size: 20px;text-align: center;">健康理念</p>
                <p>致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案 。 为此公司投巨资建设扬翔地方猪创新研究院</p>
            </div>
            <div class="cunava">
                <div class="cunava_img"><img src=""></div>
                <p style="line-height: 100px;font-size: 20px;text-align: center;">经营宗旨</p>
                <p>致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案 。 为此公司投巨资建设扬翔地方猪创新研究院</p>
            </div>

        </div>
    </div>
    <p style="text-align: center;font-size: 30px;line-height: 150px;">扬 翔 风 采</p>
    <div class="fengcai">
        <img src="" class="fengcaiimg">
        <img src="" class="fengcaiimg">
        <img src="" class="fengcaiimg">
    </div>
</div>
</body>
</html>