<!DOCTYPE html>
{include file="public:header"}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>走进扬翔</title>
    <link href="/static/index/css/pig.css" type="text/css" rel="stylesheet">
    <script language="Javascript" type="text/Javascript" src="/static/jquery-3.3.1.min.js"></script>
</head>
<body>
<img class="timg" src="{$bannerinfo[0]}">

    <div class="underline">
    <div class="tabItemContainer_item">
        <li><a class="tabItemCurrent">公司简介</a></li>
        <div class="lixian"></div>
        <li><a>发展历程</a></li>
        <div class="lixian"></div>
        <li><a>公司文化</a></li>
        <div class="lixian"></div>
        <li><a>公益事业</a></li>
    </div>
    </div>
<div id="TabMain">
    <div class="tabBodyContainer">
        <div class="tabBodyItem tabBodyCurrent">
            {include file="into:summary"}
        </div>
        <div class="tabBodyItem">
            {include file="into:course"}
        </div>
        <div class="tabBodyItem">
            {include file="into:culture"}
        </div>
        <div class="tabBodyItem">
            {include file="into:cause"}
        </div>
    </div>
</div>
</body>
<script src="/static/index/js/product.js" type="text/javascript"></script>
</html>
{include file="public:foot"}