
<div style="width: 100%;height: 20px;background: #e6e6e6;"></div>
<div class="pnavtop">
    <div class="pnavtopl">
        <div class="tabItemContainers">
            <li><a class="tabItemCurrents">扬翔简介</a></li>
            <li><a>分公司简介</a></li>
            <li><a>公司荣誉</a></li>
        </div>
    </div>
    <div class="pnavtopr">
        <div class="tabBodyContainers">
            <div class="tabBodyItems tabBodyCurrents">
                <div class="sumname">广西扬翔股份有限公司</div>
                <div class="sumvideo"></div>
                <div class="sumtext">
                       {$info.text}
                    </p>
                </div>
            </div>
        </div>
        <div class="tabBodyContainers">
            <div class="tabBodyItems">
                <div class="pnavtopa" style="border-bottom: 1px solid">
                    <p class="pnavtoptext"> &nbsp;扬  翔 分 公 司 分 布</p>
                </div>
                <div id="Tabfen">
                    <div class="tabfenItemContainer">
                        <li><a class="tabfenItemCurrent">饲料分公司</a></li>
                        <li><a>养猪分公司</a></li>
                    </div>
                    <div class="tabfenBodyContainer">
                        <div class="tabfenBodyItem tabfenBodyCurrent">
                            <div class="fenmap"></div>
                        </div>
                        <div class="tabfenBodyItem">
                            <div class="fenmap"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabBodyContainers">
            <div class="tabBodyItems">
                <div class="sumname">公 司 荣 誉</div>
                <div class="sumtw">
                    <div class="sumtwa">
                        <img src="/static/index/images/2.jpg" class="sumimgs">
                        <div class="sumtwtext">扬翔集团是一家以饲料业扬翔集团是一家以饲料业</div>
                    </div>
                    <div class="sumtwa">
                        <img src="/static/index/images/2.jpg" class="sumimgs">
                        <div class="sumtwtext">扬翔集团是一家以饲料业</div>
                    </div>
                    <div class="sumtwa">
                        <img src="/static/index/images/2.jpg" class="sumimgs">
                        <div class="sumtwtext">扬翔集团是一家以饲料业</div>
                    </div>
                </div>
                <div class="sumname">公 司 展 示</div>
                <div class="sumtw">
                    <div class="sumtwa">
                        <img src="/static/index/images/2.jpg" class="sumimgs">
                        <div class="sumtwtext">扬翔集团是一家以饲料业</div>
                    </div>
                    <div class="sumtwa">
                        <img src="/static/index/images/2.jpg" class="sumimgs">
                        <div class="sumtwtext">扬翔集团是一家以饲料业</div>
                    </div>
                    <div class="sumtwa">
                        <img src="/static/index/images/2.jpg" class="sumimgs">
                        <div class="sumtwtext">扬翔集团是一家以饲料业</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div style="clear: both"></div>