<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博士后创新实验基地</title>
    <link href="/static/index/css/into.css" type="text/css" rel="stylesheet">
    <link href="/static/index/css/feed.css" type="text/css" rel="stylesheet">
    <script language="Javascript" type="text/Javascript" src="/static/jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="pnavtop">
    <div class="pnavtopl">
        <div class="tabItemContainers">
            <li><a class="tabItemCurrents">博士后实验基地简介</a></li>
            <li><a>实验基地研究成果</a></li>
        </div>
    </div>
    <div class="pnavtopr">
        <div class="tabBodyContainers">
            <div class="tabBodyItems tabBodyCurrents">
                <div class="sumname">博士后实验基地简介</div>
                {$info.content}
            </div>
        </div>
        <div class="tabBodyContainers">
            <div class="tabBodyItems">
                <div class="sumname">实验基地研究成果</div>
                <div class="docon">
                    {volist name="list" id="vo"}
                    <div class="donav">
                        <div class="donav_con">
                            <div class="donav_texta">{$vo.title}</div>
                            <div class="donav_namea">{$vo.name}</div>
                            <div class="donav_mms">{$vo.describe}</div>
                        </div>
                        <div class="docolor"></div>
                    </div>
                    {/volist}
                    {$page}
                </div>
            </div>
        </div>
    </div>
    <div style="clear: both"></div>
</div>
</body>
<script language="Javascript" type="text/Javascript" src="/static/index/js/feed.js"></script>
</html>