<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博士后创新实验基地</title>
    <link href="/static/index/css/into.css" type="text/css" rel="stylesheet">
    <link href="/static/index/css/feed.css" type="text/css" rel="stylesheet">
    <script language="Javascript" type="text/Javascript" src="/static/jquery-3.3.1.min.js"></script>
</head>
<body>
<div style="width: 100%;height: 20px;background: #e6e6e6;"></div>
<div class="pnavtop">
    <div class="pnavtopl">
        <div class="tabItemContainer">
            <li><a class="tabItemCurrent">博士后实验基地简介</a></li>
            <li><a>实验基地研究成果</a></li>
        </div>
    </div>
    <div class="pnavtopr">
        <div class="tabBodyContainer">
            <div class="tabBodyItem tabBodyCurrent">
                <div class="sumname">博士后实验基地简介</div>
                <div class="sumtext">
                    <p>扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业。 公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、
                        稳定、高效的整体解决方案 。 为此公司投巨资建设扬翔地方猪创新研究院，扬翔疫病检测中心及扬翔化验中心。公司依靠领先的技术优势和诚挚的服务， 2000年跻身为广西饲料业龙头
                        企业，陆续获得“农业产业化国家重点龙头企业”、“全国饲料业科技创新先进集体”、 “全国三十强饲料企业”、“ 最佳公益企业”、“中国饲料业优秀企业文化企业”等多项荣誉。
                        扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业。 扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业。
                        公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案 。 为此公司投巨资建设扬翔地方猪创新研究院，扬翔疫病
                        检测中心及扬翔化验中心。公司依靠领先的技术优势和诚挚的服务， 2000年跻身为广西饲料业龙头企业，陆续获得“农业产业化国家重点龙头企业”、“全国饲料业科技创新先进集体”
                        、 “全国三十强饲料企业”、“ 最佳公益企业”、“中国饲料业优秀企业文化企业”等多项荣誉。</p>
                    <p>扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业。 公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、
                        稳定、高效的整体解决方案 。 为此公司投巨资建设扬翔地方猪创新研究院，扬翔疫病检测中心及扬翔化验中心。公司依靠领先的技术优势和诚挚的服务， 2000年跻身为广西饲料业龙头
                        企业，陆续获得“农业产业化国家重点龙头企业”、“全国饲料业科技创新先进集体”、 “全国三十强饲料企业”、“ 最佳公益企业”、“中国饲料业优秀企业文化企业”等多项荣誉。
                        扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业。 扬翔集团是一家以饲料业、养猪业、肉食品加工业为主导，兼营育种的现代大型农牧企业。
                        公司致力于为公众提供健康、安全、美味的食品；致力于在母仔猪领域为中小养殖户提供专业、稳定、高效的整体解决方案 。 为此公司投巨资建设扬翔地方猪创新研究院，扬翔疫病
                        检测中心及扬翔化验中心。公司依靠领先的技术优势和诚挚的服务， 2000年跻身为广西饲料业龙头企业，陆续获得“农业产业化国家重点龙头企业”、“全国饲料业科技创新先进集体”
                        、 “全国三十强饲料企业”、“ 最佳公益企业”、“中国饲料业优秀企业文化企业”等多项荣誉。</p>
                </div>
                <img src="/static/index/images/3.jpg" style="width: 1200px;height: 500px;margin-top: 50px;">
            </div>
        </div>
        <div class="tabBodyContainer">
            <div class="tabBodyItem">
                <div class="sumname">实验基地研究成果</div>
                <div class="docon">
                    <div class="donav">
                        <div  class="donav_texta">兼营育种的现代大型农牧企业兼营育种的现代大型农牧企业</div>
                        <div style="font-size: 20px">曾 剑 华 &nbsp;陈 庆 林</div>
                        <div style=" margin-top: 20px;line-height: 40px;"><span>“</span> 公司依靠领先的技术优势和诚挚的服务 <span>”</span></div>
                        <div>全国三十强饲料企业</div>
                        <div class="doxia">KJIJ &nbsp;SCDUI+</div>
                        <div class="docolor"></div>
                    </div>
                    <div class="donav">
                        <div  class="donav_texta">兼营育种的现代大型农牧企业</div>
                        <div style="font-size: 20px">曾 剑 华 &nbsp;陈 庆 林</div>
                        <div style=" margin-top: 20px;line-height: 40px;"><span>“</span> 公司依靠领先的技术优势和诚挚的服务 <span>”</span></div>
                        <div>全国三十强饲料企业</div>
                        <div class="doxia">KJIJ &nbsp;SCDUI+</div>
                        <div class="docolor"></div>
                    </div>
                </div>
                <div class="docon">
                    <div class="donav">
                        <div  class="donav_texta">兼营育种的现代大型农牧企业</div>
                        <div style="font-size: 20px">曾 剑 华 &nbsp;陈 庆 林</div>
                        <div style=" margin-top: 20px;line-height: 40px;"><span>“</span> 公司依靠领先的技术优势和诚挚的服务 <span>”</span></div>
                        <div>全国三十强饲料企业</div>
                        <div class="doxia">KJIJ &nbsp;SCDUI+</div>
                        <div class="docolor"></div>
                    </div>
                    <div class="donava">
                        <div class="donav_textb">兼营育种的现代大型农牧企业</div>
                        <div class="donav_nameb">曾 剑 华 &nbsp;陈 庆 林</div>
                        <div class="donav_textc" >全国三十强饲料企业公司依靠领先的技术优势和诚挚的服务公司依靠领先的技术优势和诚挚的服务公
                            司依靠领先的技术优势和诚挚的服务公司依靠领先的技术优势和诚挚的服务公司依靠领先的技术优势和诚挚的服务
                            公司依靠领先的技术优势和诚挚的服务公司全国三十强饲料企业公司依靠领先的技术优势和诚挚的服务公司依靠领先的技术优势和诚挚的服务公
                            司依靠领先的技术优势和诚挚的服务公司依靠领先的技术优势和诚挚的服务公司依靠领先的技术优势和诚挚的服务
                            公司依靠领先的技术优势和诚挚的服务公司</div>
                    </div>
                </div>
                <div class="docon">
                    <div class="donav">
                        <div  class="donav_texta">兼营育种的现代大型农牧企业</div>
                        <div style="font-size: 20px">曾 剑 华 &nbsp;陈 庆 林</div>
                        <div style=" margin-top: 20px;line-height: 40px;"><span>“</span> 公司依靠领先的技术优势和诚挚的服务 <span>”</span></div>
                        <div>全国三十强饲料企业</div>
                        <div class="doxia">KJIJ &nbsp;SCDUI+</div>
                        <div class="docolor"></div>
                    </div>
                    <div class="donav">
                        <div  class="donav_texta">兼营育种的现代大型农牧企业</div>
                        <div style="font-size: 20px">曾 剑 华 &nbsp;陈 庆 林</div>
                        <div style=" margin-top: 20px;line-height: 40px;"><span>“</span> 公司依靠领先的技术优势和诚挚的服务 <span>”</span></div>
                        <div>全国三十强饲料企业</div>
                        <div class="doxia">KJIJ &nbsp;SCDUI+</div>
                        <div class="docolor"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script language="Javascript" type="text/Javascript" src="/static/index/js/feed.js"></script>
</html>