<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创新与研究成果</title>
    <link href="/static/index/css/feed.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="gainstop" style="margin-top: 20px;">
</div>
</body>
<script type="text/javascript">
	function AjaxPage(page){
        $.ajax({
            url:'ajaxListAction',
            type:'post',
            dataType:'json',
            data: {apage:page,table:'fruit'},
            success:function(data){
                var json=data.list.data;
                $(".gainstop").empty();
                for (var i = 0; i <json.length; i++) {
                    $(".gainstop").append('<div class="gainscom"><img src="'+json[i].image+'"><div class="gainscom_btm"><div class="gainscom_name">'+json[i].title+'</div><div class="gainscom_div"></div><div class="gainscom_text">'+json[i].content+'</div></div><div class="gainscom_more"><a style="color:#000" href="/index/details/details.html?table=fruit&id='+json[i].id+'"&sign=innovation>了解更多</a></div></div>');
                }                
                $(".gainstop").append(data.page);
                $(".gainstop").append('<div style="clear: both"></div>');
                $(".gainstop .pagination").find('a').each(function(){
                    var href=$(this).attr('href').substring(0,22);
                    $(this).attr("href",href);
                });
            }
        });
    }
    AjaxPage(1);
</script>
</html>