<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创新与研究成果</title>
    <link href="/static/index/css/feed.css" type="text/css" rel="stylesheet">
</head>
<body>
<div style="width: 100%;height: 20px;background: #e6e6e6;"></div>
<div class="gainstop" style="margin-top: 20px;">
    {volist name="list" id="vo"}
    <div class="gainscom">
        <img src="{$vo.image}">
        <div class="gainscom_btm">
            <div class="gainscom_name">{$vo.title}</div>
            <div class="gainscom_div"></div>
            <div class="gainscom_text">
                {$vo.content}
                </div>                
            <div class="gainscom_more">了解更多+11</div>
        </div>
    </div>
    {/volist}
    {$page}
</div>
</body>
</html>