<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>院士工作站</title>
    <link href="/static/index/css/into.css" type="text/css" rel="stylesheet">
    <link href="/static/index/css/feed.css" type="text/css" rel="stylesheet">
    <link href="/static/index/css/index.css" type="text/css" rel="stylesheet">
    <script language="Javascript" type="text/Javascript" src="/static/jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="pnavtop">
    <div class="aa">
        <!--<div class="pnavtopl">-->
            <!--<div class="tabItemContainers">-->
                <!--<li><a class="tabItemCurrents">院士工作站</a></li>-->
                <!--<li><a>研究成果</a></li>-->
                <!--<li><a>科研所团队成员</a></li>-->
            <!--</div>-->
        <!--</div>-->
        <div class="pnavtopr"  style="width: 1200px; margin: 0 auto;">
            <!--<div class="tabBodyContainers">-->
                <!--<div class="tabBodyItems tabBodyCurrents">-->
                    <div class="sumname">院士工作站简介</div>
                    {$jinfo.content}
                <!--</div>-->
            <!--</div>-->
            <!--<div class="tabBodyContainers">-->
                <!--<div class="tabBodyItems">-->
            <div class="sumname">科研所团队成员</div>
            <div class="studyt j2" style="margin-top: 20px;">

            </div>
            <div class="sumname">研究成果</div>
                    <div class="hot_news j1">
                        <ul >

                        </ul>
                    </div>
                <!--</div>-->
            <!--</div>-->
            <!--<div class="tabBodyContainers">-->
                <!--<div class="tabBodyItems">-->



                <!--</div>-->

            <!--</div>-->
        </div>
        <div style="clear: both"></div>
    </div>

</div>

</body>
<script language="Javascript" type="text/Javascript" src="/static/index/js/feed.js"></script>
<script type="text/javascript">
    function AjaxPagej1(page){
        $.ajax({
            url:'ajaxListAction',
            type:'post',
            dataType:'json',
            data: {apage:page,table:'project',bid:1},
            success:function(data){
                var json=data.list.data;
                $(".j1 ul").empty();
                $(".j1").nextAll().remove();
                for (var i = 0; i <json.length; i++) {
                    $(".j1 ul").append('<li><div class="donav_con"><div class="thum">'+json[i].title+'</div><div class="title">'+json[i].name+'</div><div class="detail">'+json[i].describe+'</div></div><div class="docolor"></div><div class="code"><div class="donav_con" style="color: #fff;text-align: left;"><div class="thum">'+json[i].title+'</div><div class="title">'+json[i].name+'</div><div class="detail_xq">'+json[i].describe+'</div></div></div></li>');
                }
                $(".j1").after(data.page);
                $(".j1").after('<div style="clear: both"></div>');
                $(".j1").parent().parent().find('a').each(function(){
                    var href=$(this).attr('href').substring(0,22).replace('AjaxPage','AjaxPagej1');
                    $(this).attr("href",href);
                });
            }
        });
    }
    function AjaxPagej2(page){
        $.ajax({
            url:'ajaxListAction',
            type:'post',
            dataType:'json',
            data: {apage:page,table:'member',bid:1},
            success:function(data){
                var json=data.list.data;
                $(".j2").empty();
                for (var i = 0; i <json.length; i++) {
                    $(".j2").append('<div class="studytcon"><img src="'+json[i].image+'"><p class="studyt_name">'+json[i].title+'</p><p class="yuanshi">'+json[i].name+'</p><div class="studyt_text">'+json[i].describe+'</div></div>');
                }                
                $(".j2").append('<div style="clear: both"></div>');
                $(".j2").append(data.page);                
                $(".j2 .pagination").find('a').each(function(){
                    var href=$(this).attr('href').substring(0,22).replace('AjaxPage','AjaxPagej2');
                    $(this).attr("href",href);
                });
            }
        });
    }
    AjaxPagej1(1);
    AjaxPagej2(1);
</script>
</html> 