<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>扬翔研究院</title>
    <link href="/static/index/css/into.css" type="text/css" rel="stylesheet">
    <link href="/static/index/css/feed.css" type="text/css" rel="stylesheet">
    <script language="Javascript" type="text/Javascript" src="/static/jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="pnavtop">
    <div class="aa">
    <div class="pnavtopl">
        <div class="tabItemContainers">
            <li><a class="tabItemCurrents">扬翔研究院</a></li>
            <li><a>研究成果</a></li>
            <li><a>科研所团队成员</a></li>
        </div>
    </div>
    <div class="pnavtopr">
        <div class="tabBodyContainers">
            <div class="tabBodyItems tabBodyCurrents">
                <div class="sumname">扬翔研究院简介</div>
                {$sinfo.content}
            </div>
        </div>
        <div class="tabBodyContainers">
            <div class="tabBodyItems">
                <div class="sumname">研究成果</div>
                    <div class="docon s1">
                    
                    </div>
                
            </div>
        </div>
        <div class="tabBodyContainers">
            <div class="tabBodyItems">
                <div class="sumname">科研所团队成员</div>
                <div class="studyt s2" style="margin-top: 20px;">
                    
                </div>
            </div>

        </div>
    </div>
    </div>
    <div style="clear: both"></div>
</div>

</body>
<script language="Javascript" type="text/Javascript" src="/static/index/js/feed.js"></script>
<script type="text/javascript">
    function AjaxPages1(page){
        $.ajax({
            url:'ajaxListAction',
            type:'post',
            dataType:'json',
            data: {apage:page,table:'project',bid:0},
            success:function(data){
                var json=data.list.data;
                $(".s1").empty();
                for (var i = 0; i <json.length; i++) {
                    $(".s1").append('<div class="donav"><div class="donav_con"><div  class="donav_texta">'+json[i].title+'</div><div class="donav_namea">'+json[i].name+'</div><div class="donav_mms">'+json[i].describe+'</div></div><div class="docolor"></div></div>');
                }                
                $(".s1").append('<div style="clear: both"></div>');
                $(".s1").append(data.page);                
                $(".s1 .pagination").find('a').each(function(){
                    var href=$(this).attr('href').substring(0,22).replace('AjaxPage','AjaxPages1');
                    $(this).attr("href",href);
                });
            }
        });
    }
    function AjaxPages2(page){
        $.ajax({
            url:'ajaxListAction',
            type:'post',
            dataType:'json',
            data: {apage:page,table:'member',bid:0},
            success:function(data){
                var json=data.list.data;
                $(".s2").empty();
                for (var i = 0; i <json.length; i++) {
                    $(".s2").append('<div class="studytcon"><img src="'+json[i].image+'"><p class="studyt_name">'+json[i].title+'</p><p class="yuanshi">'+json[i].name+'</p><div class="studyt_text">'+json[i].describe+'</div></div>');
                }                
                $(".s2").append('<div style="clear: both"></div>');
                $(".s2").append(data.page);                
                $(".s2 .pagination").find('a').each(function(){
                    var href=$(this).attr('href').substring(0,22).replace('AjaxPage','AjaxPages2');
                    $(this).attr("href",href);
                });
            }
        });
    }
    AjaxPages1(1);
    AjaxPages2(1);
</script>
</html>