<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <label style="float: left;">轮播图</label>
    <div id="listimgs">
        <button type="button" class="layui-btn" id="test1" style="margin-left: 15px;" >
            <i class="layui-icon"></i>上传图片
        </button>
        {if condition="!empty($cen.img_url)"}
        {volist name="$cen.img_url" id="vo"}
        <div class="divs">
            <img src="{$vo}" style="width: 150px;height: 150px">
            <input type="hidden" value="{$vo}" name="img_url[]">
            <span onclick="delimg(this)" class="item">删除</span>
        </div>
        {/volist}
        {/if}
    </div>
</div>
</body>
<script type="text/javascript">
    var upload=layui.upload;
    //执行实例var
    var urlcc="{:url('admin/upload/uploadimg')}"
    var uploadInst = upload.render({
        elem: '#test1' //绑定元素
        ,field:'images'
        ,multiple:true
        ,url: urlcc //上传接口
        ,done: function(res){
            console.log(res);
            var html='<div class="divs">'+
                '<img src="'+res.data.url+'" style="width: 150px;height: 150px">'+
                '<input type="hidden" value="'+res.data.url+'" name="img_url[]" >'+
                '<span onclick="delimg(this)" class="item">删除</span>'+
                '</div>';
            $('#listimgs').append(html);
        }
        ,error: function(){
            //请求异常回调
        }
    });


</script>
</html>