<!--底部-->
<div class="bottom">
    <div class="btm">
        <div class="btm_top">
            <div class="btml">
                <div class="btmname">扬翔股份</div>
                <div class="btmen">Technology Changes Pin Farming</div>
                <div class="jiaru">科 技 改 变 养 猪 业</div>
                <img src="/static/index/images/2.jpg">
            </div>
            <div class="btmr">
                <img src="/static/index/images/2.jpg">
                <div class="qg_call">全国服务电话</div>
                <div class="qg_call">400-727-0088</div>
                <div class="bangong">办公系统登录</div>
            </div>
        </div>
        <div class="btm_bt">
            <div class="btmtext">广西贵港市江南工业园区城东大道与工业一路交汇处东北角</div>
            <div class="btm_bta">
                <div class="btmtext">版权所有© 扬翔公司 © 2018 All rights reserved 桂ICP备12005932号 鄂公网安备 45080302000117号</div>
                <div>法律声明|网站地图|旧版链接</div>
            </div>
        </div>


    </div>
</div>
</body>
</html>