<html>
<head>
    <title>扬翔股份</title>
    <link href="/static/index/css/index.css" type="text/css" rel="stylesheet">

</head>
<body>
<!--头部导航-->
<div class="top">
    <div class="contop">
        <img src="/static/index/images/logo.png" style="width: 150px;height: 90px;float: left;">
        <div class="tab"><a href="#">中文</a> / <a href="#">EN</a></div>
        <div class="nav">
            <ul>
                <a href="/index/index/index.html"><li>首页</li></a>
                <li>走进扬翔
                    <ul>
                        <a href="/index/into/into.html"><li>公司简介</li></a>
                        <a href="#"><li>发展历程</li></a>
                        <a href="#"><li>公司文化</li></a>
                        <a href="#"><li>公益事业</li></a>
                    </ul>
                </li>
                <li>产品中心
                    <ul>
                        <a href="/index/product/pig.html"><li>猪精</li></a>
                        <a href="/index/product/feed.html"><li>饲料</li></a>
                        <a href="/index/product/pigs.html"><li>种猪</li></a>
                        <a href="/index/product/move.html"><li>动保</li></a>
                        <a href="/index/product/equipment.html"><li>设备</li></a>
                    </ul>
                </li>
                <li>新闻中心
                    <ul>
                        <a href="/index/news/yxnews.html"><li>扬翔新闻</li></a>
                        <a href="#"><li>扬翔视频</li></a>
                        <a href="#"><li>媒体报道</li></a>
                    </ul>
                </li>
                <li>创新科研中心
                    <ul>
                        <a href="/index/innovation/innovation.html"><li>博士后创新实验基地</li></a>
                        <a href="#"><li>扬翔研究院</li></a>
                        <a href="#"><li>院士工作站</li></a>
                        <a href="#"><li>创新与研究成果</li></a>
                    </ul>
                </li>
                <li>人力资源中心
                    <ul>
                        <a href="#"><li>人才理念</li></a>
                        <a href="#"><li>校园招聘</li></a>
                        <a href="#"><li>社会招聘</li></a>
                        <a href="#"><li>校企合作</li></a>
                        <a href="#"><li>培训特色</li></a>
                        <a href="#"><li>培训信息</li></a>
                        <a href="#"><li>扬翔大学</li></a>
                    </ul>
                </li>
                <li>用户中心
                    <ul>
                        <a href="#"><li>技术服务</li></a>
                        <a href="#"><li>养殖工作</li></a>
                        <a href="#"><li>网络营销</li></a>
                        <a href="#"><li>联系我们</li></a>
                    </ul>
                </li>
                <li>智慧扬翔
                    <ul>
                        <a href="#"><li>找一找商城</li></a>
                        <a href="#"><li>VR展示</li></a>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</div>