*{
    margin: 0;
    padding: 0;
}
.pnavtop{
    width: 1400px;
    margin: auto;
}
.pnavtopl{
    width: 200px;
    height: 800px;
    margin-top: 50px;
    float: left;
}
.pnavtopr{
    width: 1200px;
    float: right;
}
.pnavtopa{
    width: 1200px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;

}
.pnavtoptext{
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    border-left: 5px #ec6f01 solid;
}
.flie{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
.ftuwen{
    width: 280px;
    height: 400px;
    box-shadow:0px 0px  10px 5px #bfbfbf;
}
.ftopimg{
    width: 100%;height: 250px;background: #0b93d5;
}
.fbtmdiv{
    padding-left: 8px;margin-right: 8px;
}
.fpname{
    font-size: 16px
}
.fptext{
    color: #707070;margin-top: 10px;font-size: 14px;
}
.finput{
    width: 120px;height: 30px;float: left;margin-top: 20px;
}
.fsubmit{
    width: 50px;height: 30px;margin-left: 5px;float: left
}
.fbicon{
    width: 40px;height: 40px;float: left;margin-left: 5px;
}
.fpcolor{
    color: #ec6f01;
}
.fspan{
    color: #ec6f01;
}


/*切换*/
.tabItemContainer {
    width: auto;
    height: 300px;
    border-left: #a0a0a0 1px solid;
    display: flex;
    flex-direction: column;
    white-space: pre-wrap;
    justify-content: center;
}
.tabBodyContainer {
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}
.tabItemContainer>li {
    list-style: none;
    text-align: left;
}
.tabItemContainer>li>a {
    float: left;
    width: 100%;
    height: 5px;
    margin-bottom: 50px;
    font: 16px "微软雅黑", Arial, Helvetica, sans-serif;
    color: #808080;
    cursor: pointer;
    text-decoration: none;
    border-left: 3px #0a0a0a solid;
}
.tabItemCurrent {
    border-left: 3px solid #ec6f01 !important;
    color: #ec6f01 !important;
    position: relative;
}

.tabBodyItem {
    position: absolute;
    display: none;
}
.tabBodyItem>p {
    font: 13px "微软雅黑", Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 30px;
}
.tabBodyItem>p>a {
    text-decoration: none;
    color: #0F3;
}
.tabBodyCurrent{
    display:block;
}

/*实验基地研究成果*/
.docon{
    width: 1200px;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}
.donav{
    width: 580px;
    height: 300px;
    background: #e6e6e6;
    text-align: center;
}
.donav span{
    color: #8a8a8a;
    font-size: 50px;
    margin-top: 30px;
    line-height: 40px;
}
.doxia{
    width: 150px;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px #a0a0a0 solid;
    margin: auto;
    color: #ff6600;
}
.docolor{
    width: 100%;
    height: 30px;
    background: #ff6600;
    position: relative;
    bottom: -25px;
}
.donava{
    width: 520px;
    height: 240px;
    background: #ff6600;
    color: #fff;
    padding: 30px;
}


