* {
    margin: 0;
    padding: 0;
}
.body{font-weight:400;
    font-family:" PingFang SC", 宋体, 黑体, Arial,  "Microsoft YaHei",sans-serif;}
.pnavtop {
    width: 1400px;
    margin: auto;
}

.aa {
    width: 1400px;
    margin: auto;
}

.pnavtopl {
    width: 200px;
    /*height: 800px;*/
    margin-top: 50px;
    float: left;
}

.pnavtopr {
    width: 1200px;
    float: right;
}

.pnavtopa {
    width: 1200px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;

}

.pnavtoptext {
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    border-left: 5px #ec6f01 solid;
}

.flie {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.ftuwen {
    width: 280px;
    height: 400px;
    box-shadow: 0px 0px 10px 5px #bfbfbf;
}

.ftopimg {
    width: 100%;
    height: 250px;
    background: #0b93d5;
}

.fbtmdiv {
    padding-left: 8px;
    margin-right: 8px;
}

.fpname {
    font-size: 16px
}

.fptext {
    color: #555;
    margin-top: 10px;
    font-size: 14px;
}

.finput {
    width: 120px;
    height: 30px;
    float: left;
    margin-top: 20px;
}

.fsubmit {
    width: 50px;
    height: 30px;
    margin-left: 5px;
    float: left
}

.fbicon {
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 5px;
}

.fpcolor {
    color: #ec6f01;
}

.fspan {
    color: #ec6f01;
}

/*左切换*/
.tabItemContainers {
    width: auto;
    border-left: #555 1px solid;
    display: flex;
    flex-direction: column;
    white-space: pre-wrap;
    justify-content: center;
}

.tabBodyContainers {
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

.tabItemContainers > li {
    margin-left: -3px;
    margin-bottom: 50px;
    font-size: 16px;
    color: #555;
    cursor: pointer;
}

.tabItemContainers > li > a {
    padding: 5px 10px;
}

.tabItemContainers > li > a:hover {
    padding: 5px 10px;
    background-color: #ec6f01 !important;
    color: #fff;
}

.tabItemCurrents{
    padding: 5px 10px;
    background-color: #ec6f01 !important;
    position: relative;
    color: #fff;
}

.tabBodyItems {
    display: none;
}

.tabBodyItems > p {
    font: 13px "微软雅黑", Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 30px;
}

.tabBodyItems > p > a {
    text-decoration: none;
    color: #0F3;
}

.tabBodyCurrents {
    display: block;
}

/*实验基地研究成果*/
.docon {
    width: 1200px;
    padding-top: 15px;
}
.donav {
    width: 580px;
    height: 300px;
    background: #e6e6e6;
    display: flex;
    flex-direction: column;
    text-align: center;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}

.donav_con {
    width: 540px;
    height: 223px;
    margin: auto;
}

.donav span {
    color: #555;
    font-size: 50px;
    margin-top: 30px;
    line-height: 40px;
}

.doxia {
    width: 150px;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px #a0a0a0 solid;
    margin: auto;
    color: #ff6600;
}

.docolor {
    width: 100%;
    height: 30px;
    background: #ff6600;
    position: relative;
    bottom: 0;
}

.donava {
    width: 520px;
    height: 240px;
    background: #ff6600;
    color: #fff;
    padding: 30px;
}
.donav_namea{
    font-size: 16px;
    margin-bottom: 30px;
}
.donav_mms{
    font-size: 14px;
    line-height: 30px;
    display: -webkit-box;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.donav_texta {
    line-height: 50px;
    font-size: 20px;
    margin-top: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.donav_textb {
    font-size: 20px;
    margin-top: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.donav_nameb {
    font-size: 20px;
    line-height: 50px;
    border-bottom: #fff 1px solid;
    width: 400px;
}

.donav_textc {
    line-height: 30px;
    text-overflow: ellipsis;
    display: -webkit-box;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

/*科研所团队成员*/
.studyt {
    width: 1200px;
}

.studytcon {
    width: 350px;
    height: 450px;
    text-align: center;
    float: left;
    margin-right: 40px;
    margin-top: 20px;
}

.studytcon img {
    width: 170px;
    height: 170px;
    margin: auto;
    border-radius: 50%;
}

.studyt_name {
    font-size: 24px;
    margin-top: 30px;
}

.yuanshi {
    color: #ff6600;
    line-height: 50px;
    font-size: 20px;
}

.studyt_text {
    width: 300px;
    height: 150px;
    color: #555;
    line-height: 30px;
    font-size: 18px;
    margin: auto;
    overflow: hidden;

}

/*创新与研究成果*/
.gainstop {
    width: 1400px;
    margin: auto;
}

.gainscom {
    width: 430px;
    height: 500px;
    border: 2px solid #e6e6e6;
    text-align: center;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}

.gainscom img {
    width: 175px;
    height: 145px;
    margin-top: 30px;
}

.gainscom_btm {
    width: 340px;
    height: 263px;
    margin: 0 auto;
}

.gainscom_name {
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gainscom_text {
    height: 180px;
    font-size: 14px;
    line-height: 30px;
    margin-top: 30px;
    text-overflow: ellipsis;
    display: -webkit-box;
    word-break: break-all;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
}

.gainscom_more {
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    background: #e6e6e6;
    position: relative;
    bottom: -19px;
    left: 140px;
}

.gainscom_div {
    width: 100px;
    margin: auto;
    border-bottom: 2px #ff6600 solid;
}


