
                      *{
                          padding: 0;
                          margin: 0;
                          font-weight:400;
                          font-family: PingFang SC,Microsoft YaHei,宋体,黑体,Arial,sans-serif;
                      }
/*头部导航*/
.top{
    width: 100%;
    height: 100px;
    background: #fff;
    font-size: 18px;
    position: fixed;
    top: 0;
    z-index: 999;
}
.contop{
    width: 1400px;
    height: 100px;
    margin: 0 auto;
}
.tab{
    width: 150px;
    height: 100px;
    line-height: 100px;
    float: left;
    text-align: center;
}
.tab a{
    color: #000;
    text-decoration: none;
}
.nav{
    width: 1100px;
    height: 100px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul li{
    width: 135px;
    height: auto;
    line-height: 50px;
    text-align: center;
    list-style-type: none;
    float: left;
    margin: auto;

}
.nav ul a{
    color: #000;
}
.nav ul li a{
    color: #000;
    text-decoration: none;
}
.nav ul li:hover{
    color: #ff6600;
}

.nav ul li ul { position:absolute; display:none;}
.nav ul li ul li { float:none;}
.nav ul li ul li a {border-right:none; }
.nav ul li ul li:hover{color: #ff6600;}
.nav ul li:hover ul{ display:block; background: #fff;padding-bottom: 10px;}

/*关于扬翔*/
.onyx{
    width: 1400px;
    height: 700px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.onyx_text{
    width: 100%;
    height: 150px;
    line-height: 150px;
    font-size: 30px;
    text-align: center;
}
.onyx_content{
    width: 100%;
    height: 550px;
}
.onyx_detail{
    width: 50%;
    height: 550px;
    float: left;
}
.onyx_img{
    width: 50%;
    height: 550px;
    float: right;
}
.onyx_name{
    font-size: 24px;
    margin-bottom: 10px;
}
.onyx_em{
    width: 650px;
    height: 421px;
    text-indent: 2em;
    line-height: 30px;
    color: #555;
    overflow: hidden;
    text-overflow: ellipsis;
}
.onyx_more{
    width: 120px;
    height: 35px;
    line-height: 35px;
    border: #0b93d5 1px solid;
    color: #0b93d5;
    text-align: center;
    margin-top: 20px;
}
.onyx_more:hover{
    background: #0b97c4;
    color: #fff;
}
a{
    text-decoration: none;
}
/*扬翔分公司分布*/
.buted{
    width: 100%;
    height: 700px;
    background: #06c5f9;
    padding-top: 50px;
}
.buteda{
    width: 1400px;
    height: 700px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 24px;
}
.buted_map{
    width: 100%;
    height: 580px;
    background: #a77a94;
    margin-top: 50px;
}
/*公司视频*/
.vd{
    width: 1400px;
    height: 700px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    padding-top: 50px;
}
.video{
    width: 1030px;
    height: 580px;
    margin: 50px auto;
}
/*国际合作*/
.concur{
    width: 100%;
    height: 700px;
    background: #06c5f9;
    padding-top: 50px;
    padding-bottom: 50px;
}
.concura{
    width: 1400px;
    height: 700px;
    margin: 0 auto;
    color: #fff;
}
.concura a{
    color: #fff;
}
.concurb{
    width: 100%;
    height: 580px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.concurl{
    width: 650px;
    height: 580px;
}

.concur p{
    text-align: center;
    font-size: 24px;
}
.concur img{
    width: 100%;
    height: 400px;
}
.biao{
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-size: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.concur_span{
    width: 100%;
    /*height: 100px;*/
    line-height: 30px;
    text-indent: 2em;
    display: -webkit-box;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

}

/*产品介绍*/
.goods{
    width: 100%;
    height: 700px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.goodsa{
    width: 1400px;
    height: 700px;
    margin: 0 auto;
}
.goodsb{
    width: 100%;
    height: 580px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.goodsl{
    width: 330px;
    height: 580px;
    box-shadow:0px 0px  10px 5px #bfbfbf;
}
.gooodslbtm{
    width: 300px;
    height: 280px;
    margin: 0 auto;
}
.goods p{
    text-align: center;
    font-size: 24px;
}
.goods img{
    width: 100%;
    height: 300px;
}
.jies{
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-size: 24px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.goods_span{
    width: 280px;
    line-height: 30px;
    text-indent: 2em;
    color: #555;
    margin: auto;
    display: -webkit-box;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}
/*新闻中心*/
.new{
    width: 100%;
    height: 800px;
    background: #06c5f9;
    padding-top: 50px;
    padding-bottom: 50px;
}
.newa{
    width: 1400px;
    height: 800px;
    margin: 0 auto;
    color: #fff;
}
.newb{
    width: 100%;
    height: 680px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.newl{
    width: 450px;
    height: 680px;
    float: left;
}

.new p{
    text-align: center;
    font-size: 24px;
}
.new img{
    width: 100%;
    height: 400px;
    margin-top: 30px;
}
.newtext{
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.new_span{
    width: 100%;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
/*底部*/
.bottom{
    width: 100%;
    height: 400px;
    background: #3c444c;
}
.btm{
    width: 1400px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 .btm_top{
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     padding-bottom: 30px;
 }
 .btm_bt{
     width: 100%;
     color: #a2a5a8;
     font-size: 16px;
     padding-top: 10px;
     border-top: 1px #a2a5a8 solid;
 }
 .btm_bta{
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     line-height: 30px;
 }
.btml{
    width: 1100px;
}
.btml img{
    width: 110px;
    height: 110px;
}
 .btmr{
    width: 240px;
     color: #fff;
     text-align: center;
}
 .btmr img{
     margin-top: 30px;
     margin-bottom: 10px;
     width: 60px;
     height: 70px;
 }
.btmname{
    color: #ff6600;
    font-size: 24px;
    line-height: 50px;
}

.btmen{
    font-size: 14px;
    color: #a2a5a8;
}
.jiaru{
    line-height: 30px;
    font-size: 20px;
    color: #a2a5a8;
    margin-bottom: 20px;
      }
.btmtext{
    line-height: 30px;
}
.qg_call{
    line-height: 30px;
    font-size: 16px;
}


