
* {
    padding: 0;
    margin: 0;
}
.body{font-weight:400;
    font-family:" PingFang SC", 宋体, 黑体, Arial,  "Microsoft YaHei",sans-serif;}
/*头部导航*/
.top {
    width: 100%;
    height: 100px;
    background: #fff;
    font-size: 16px;
    position: fixed;
    top: 0;
    z-index: 999;
}

.contop {
    width: 1400px;
    height: 100px;
    margin: 0 auto;
}

.tab {
    padding: 2px 14px;
    float: right;
    text-align: center;
    margin-top: 38px;
    border: 1px #e6e6e6 solid;
    border-radius: 12px;
    position: relative;
    bottom: 105px;
    right: 50px;
}

.tab a {
    color: #000;
    text-decoration: none;
}

.nav {
    margin-left: 20px;
    margin-top: 28px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul li {
    padding: 10px 20px;
    list-style-type: none;
    float: left;
}

.nav ul a {
    color: #000;
}

.nav ul li a {
    color: #000;
    text-decoration: none;
}

.nav ul li:hover {
    color: #ff6600;
}

.nav ul li ul {
    position: absolute;
    display: none;
    margin-left: -20px;
}

.nav ul li ul li {
    float: none;

}

.nav ul li ul li a {
    border-right: none;
}

.nav ul li ul li:hover {
    color: #ff6600;
}

.nav ul li:hover ul {
    display: block;
    background: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
}
/*三级*/
.nav ul li ul li ul {
    visibility:hidden;
    position:absolute;
    left:100%;
    width:100%;
    bottom: 0;
}
.nav ul li:hover ul li ul{
    visibility:hidden;}
.nav ul li ul li:hover ul{
    visibility:visible;
}
.nav ul li ul li ul li:hover{
    color:#ff6600;
}


/*关于扬翔*/
.onyx {
    width: 100%;
    height: 780px;
}

.tb {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.onyx_text {
    line-height: 36px;
    font-size: 24px;
}

.onyx_content {
    width: 1400px;
    height: 610px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    position: relative;
}

.onyx_detail {
    width: 600px;
    padding: 30px;
}

.onyx_tit {
    font-size: 14px;
    color: #555;
}

.onyx_img {
    width: 740px;
    height: 470px;
}

.onyx_name {
    font-size: 20px;
    line-height: 50px;
    margin-bottom: 10px;
}

.onyx_em {
    height: 305px;
    line-height: 30px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #555;
}

.onyx_more {
    width: 125px;
    height: 35px;
    line-height: 35px;
    border: #e6e6e6 1px solid;
    color: #ff6600;
    text-align: center;
    margin-top: 40px;
}

.onyx_more:hover {
    /*background: #0b97c4;*/
}

a {
    text-decoration: none;
}

/*扬翔分公司分布*/
.buted {
    width: 100%;
    height: 780px;
    padding-bottom: 10px;
}

.buteda {
    width: 100%;
    height: 600px;
    margin: 0 auto;
}

.map {
    width: 100%;
    height: 550px;
}

.map_com {
    width: 735px;
    height: 320px;
    border-radius: 15px;
    /*background: #ff6600;*/
    /*color: #fff;*/
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.map_left {
    width: 420px;
    height: 260px;
}

.map_com img {
    width: 225px;
    height: 208px;
}

.map_name {
    font-size: 24px;
    line-height: 40px;
    color: #ff6600;
}

.map_xia {
    width: 70px;
    border-bottom: 1px #e6e6e6 solid;
    margin-top: 20px;
    margin-bottom: 20px;
}

.map_jianjie {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
    display: -webkit-box;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    color: #555;
}

.map_address {
    font-size: 14px;
    color: #555;
}

.map_phone {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;

}

.phone_text {
    font-size: 20px;

}

.map_phone img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

/*切换2*/
#TabfenMain {
    width: 100%;
    height: auto;
}

.tabfenItemContainer {
    width: 1400px;
    margin:0 auto 20px;
    display: flex;
    justify-content: center;
}

.tabfenBodyContainer {
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

.tabfenItemContainer > li {
    text-align: center;
    list-style: none;
    text-align: center;
    float: left;
    margin-left: 30px;
}

.tabfenItemContainer > li > a {
    float: left;
    width: 100%;
    padding: 0 0 10px 0;
    font: 16px Arial, Helvetica, sans-serif;
    color: #555;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid transparent;
}

.tabfenItemContainer > li > a:hover {
    border-bottom: 1px solid #ff6600;
    color: #ff6600;
}

.tabfenItemCurrent {
    border-bottom: 1px solid #ff6600 !important;
    color: #ff6600 !important;
    position: relative;

}

.tabfenBodyItem {
    width: 100%;
    display: none;
}

.tabfenBodyItem > p {
    font: 13px Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 30px;
}

.tabfenBodyItem > p > a {
    text-decoration: none;
    color: #0F3;
}

.tabfenBodyCurrent {
    display: block;
}

/*产品介绍*/
.goodsb {
    width: 1400px;
    height: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.goodsl {
    width: 220px;
    height: 330px;
    text-align: center;
}

.gooodslbtm {
    width: 220px;
    height: 160px;
    margin: 0 auto;
}

.goodsl img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.jies {
    width: 100%;
    line-height: 80px;
    font-size: 20px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.goods_span {
    width: 220px;
    line-height: 30px;
    color: #555;
    font-size: 16px;
    margin: auto;
    display: -webkit-box;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

/*新闻中心*/
.newb {
    width: 1400px;
    height: 580px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.newl {
    width: 390px;
    height: 470px;
}

.newl_name {
    font-size: 20px;
    text-align: center;
}

.newl_imgs{
    width: 390px;
    height: 280px;
    margin-top: 50px;
    overflow: hidden;
}
.newl_imgs img {
   width: 100%;
    height: 100%;
    transition: all 0.6s;
}
.newl_imgs img:hover {
   transform: scale(1.4);
}

.newtext {
    width: 100%;
    line-height: 50px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.new_span {
    width: 100%;
    line-height: 30px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/*底部*/
.bottom {
    width: 100%;
    height: 400px;
    background: #3c444c;
    color: #fff;
    margin-top: 20px;
}

.btm {
    width: 1400px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btm_top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
}

.btm_bt {
    width: 100%;
    font-size: 14px;
    padding-top: 10px;
    border-top: 1px #a2a5a8 solid;
}

.btm_bta {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 30px;
}

.btml {
    width: 1100px;
}

.btml img {
    width: 110px;
    height: 110px;
}

.btmr {
    text-align: center;
    margin-right: 10px;
}

.btmr img {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 70px;
    height: 70px;
}

.btmname {
    font-size: 24px;
    line-height: 50px;
}

.btmen {
    font-size: 14px;
}

.jiaru {
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 20px;
}

.btmtext {
    line-height: 30px;
}

.qg_call {
    line-height: 30px;
    font-size: 16px;
}

.bangong {
    padding: 10px;
    border: 1px #a2a5a8 solid;
    color: #ff6600;
    margin-top: 20px;
}
/*分页*/
.pagination{
    display: flex;
    list-style: none;
    padding: 0 0 0 50%;
    margin-top: 30px;
}
.pagination li{
    padding: 5px 20px;
    border: 1px solid lightgrey;
    text-align: center;
    color: #555;
}
.pagination li a{
    color: #555;
    text-decoration: none;
}
.pagination li a:hover{
    color: #ff6600;
}
.pagination{
  display: flex;
  list-style: none;
  background-color:#ffffff;
  padding: 0 0 0 42%;
}
.pagination li{
  width: 31px;
  border: 1px solid lightgrey;
    text-align: center;
}

