*{
    margin: 0;
    padding: 0;
}
.timg{
    width: 100%;
    height: 800px;
    background: #d1c5d8;
}
/*切换tab*/
#TabMain {
    width: 100%;
    height: 2200px;
}
.tabItemContainer {
    width:800px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.tabBodyContainer {
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}
.tabItemContainer>li {
    width: 80px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    list-style: none;
    text-align: center;
    float: left;
}
.tabItemContainer>li>a {
    float: left;
    width: 100%;
    padding: 30px 0 30px 0;
    font: 16px "微软雅黑", Arial, Helvetica, sans-serif;
    color: #808080;
    cursor: pointer;
    text-decoration: none;
    border:1px solid transparent;
}
.tabItemCurrent {
    border-bottom: 1px solid #000000 !important;
    color: #000000 !important;
    position: relative;

}

.tabBodyItem {
    width: 100%;
    position: absolute;
    display: none;
}
.tabBodyItem>p {
    font: 13px "微软雅黑", Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 30px;
}
.tabBodyItem>p>a {
    text-decoration: none;
    color: #0F3;
}
.tabBodyCurrent{
    display:block;
}
/*猪精内容*/
.pnavtop{
    width: 100%;
    height: 100px;
    background: #e6e6e6;
}
.pnavtopa{
    width: 1400px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;

}
.pnavtoptext{
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    border-left: 5px #ec6f01 solid;
}
.pdetail{
    width: 1400px;
    height: 400px;
    margin: 30px  auto;
    padding-bottom: 50px;
}
.pdleft{
    width: 650px;
    height: 400px;
}
.pdbiaoti{
    line-height: 60px;
    font-size: 18px;
}
.pdnei{
    line-height: 24px;
    font-size: 14px;
    color: #707070;
}
.pdchakan{
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #ec6f01;
    color: #fff;
    margin-top: 100px;
}
.pdbtm{
    width: 100%;
    height: 50px;
    margin-top: 50px;
}

