* {
    margin: 0;
    padding: 0;
}
.body{font-weight:400;
    font-family:" PingFang SC", 宋体, 黑体, Arial,  "Microsoft YaHei",sans-serif;}
.timg {
    width: 100%;
    margin-top: 100px;
}

/*营销网络*/
.outlets {
    text-align: center;
    line-height: 130px;
    font-size: 30px;
    color: #353535;
}


/*联系我们*/
.contact {
    width: 1200px;
    margin: auto;
}

.cont_title {
    width: 100%;
    font-size: 24px;
    color: #353535;
    border-bottom: 1px #e3e3e3 solid;
    line-height: 100px;
}

.cont_texts {
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin: auto;
    align-items: center;
}

.cont_p {
    font-size: 20px;
    color: #353535;
}

.cont_texts img {
    width: 26px;
    height: 26px;
    margin-left: 10px;
}

.cont_t {
    font-size: 14px;
    color: #555555;
    margin-left: 10px;
}

.cont_yx {
    width: 1200px;
    font-size: 24px;
    color: #ff6600;
    margin: 70px auto;
}

.yx_map {
    width: 1200px;
    height: 667px;
    margin: auto;
}

