*{
    margin: 0;
    padding: 0;
}
.body{font-weight:400;
    font-family:" PingFang SC", 宋体, 黑体, Arial,  "Microsoft YaHei",sans-serif;}
.timg{
    width: 100%;
    margin-top: 100px;
}
/*切换tab*/
#TabMain {
    width: 100%;
    height: 2160px;
}
.underline{
    width: 100%;
    height: 82px;
    border-bottom: 1px #e3e3e3 solid;
}
.tabItemContainer {
    width: 1400px;
    margin:0 auto;
    display: flex;
    justify-content: center;
}
.tabBodyContainer {
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}
.tabItemContainer>li {
    width: 80px;
    height: 82px;
    line-height: 82px;
    text-align: center;
    list-style: none;
    text-align: center;
    float: left;
    margin-left: 30px;
}
.tabItemContainer>li>a {
    float: left;
    width: 100%;
    padding: 30px 0 30px 0;
    font: 16px Arial, Helvetica, sans-serif;
    color: #555;
    cursor: pointer;
    text-decoration: none;
    border:1px solid transparent;
}
.tabItemContainer>li>a:hover{
    border-bottom: 2px solid #ff6600;
    color: #ff6600;
}
.tabItemCurrent {
    border-bottom: 2px solid #ff6600 !important;
    color: #ff6600 !important;
    position: relative;

}

.tabBodyItem {
    width: 100%;
    position: absolute;
    display: none;
}
.tabBodyItem>p {
    font: 14px  Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 30px;
}
.tabBodyItem>p>a {
    text-decoration: none;
    color: #0F3;
}
.tabBodyCurrent{
    display:block;
}
.lixian{
    width: 10px;
    height: 20px;
    border-right: 1px #e3e3e3 solid;
    margin-top: 34px;
    margin-left: 30px;
}
/*新闻内容、媒体报道*/
.yxcontent{
    width: 1200px;
    margin:50px auto;
    padding-bottom: 50px;
    background: #fff;
}
.yxlie{
    width: 100%;
    height: 350px;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.yximg{
    width: 360px;
    height: 250px;
}
.yxtt{
    width: 700px;
    height: 250px;
}
.newnames{
    font-size: 20px;line-height: 80px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
}
.newtexts{
    font-size: 14px;
    line-height: 30px;
    color: #555;
    display: -webkit-box;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.newspans{
    color: #ff6600;line-height: 80px;
}
/*视频*/
.vitop{
    width: 100%;
    height: 500px;
}

.pdetail{
    width: 1400px;
    height: 500px;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.pdleft{
    width: 550px;
    height: 380px;
}
.videoimg{
    width: 650px;height: 400px;
}

.pdbiaoti{
    font-size: 50px;
}
.vioname{
    line-height: 80px;
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pdnei{
    line-height: 30px;
    font-size: 14px;
    color: #555;
    display: -webkit-box;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

/*分页*/
.pbottom{
    width: 100%;
    height: 100px;
    padding-top: 50px;
    background: #e6e6e6;
}

.divpage{
    width: 1200px;
    margin:  auto;
    text-align: right;

}
.divpage a,.divpage span{
    text-decoration: none;
    border: #555 1px solid;
    padding: 5px 7px;
    color: #555;
    cursor: pointer;
}
.divpage a:hover,.divpage span:hover{
    color: #ff6600;
}

