<!DOCTYPE html>
{include file="public:header"}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>联系我们</title>
    <link href="/static/index/css/user.css" type="text/css" rel="stylesheet">
</head>
<body>
<img class="timg" src="/static/index/images/top6a.jpg">
<div class="contact">
    <div class="cont_title">联 系 我 们</div>
</div>
<div class="cont_texts" style="margin-top: 50px;">
    <div class="cont_p">联系电话：</div>
    <img src="/static/index/images/phone.png">
    <div class="cont_t">{$info.title}</div>
</div>
<div class="cont_texts" style="margin-top: 30px;">
    <div class="cont_p">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：</div>
    <img src="/static/index/images/address.png">
    <div class="cont_t">{$info.content}</div>
</div>
<div class="cont_yx">广西扬翔股份有限公司</div>
<div class="yx_map"><img src="/static/index/images/4.jpg" ></div>
</body>
</html>
{include file="public:foot"}