<!DOCTYPE html>
{include file="public:header"}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>营销网络</title>
    <link href="/static/index/css/user.css" type="text/css" rel="stylesheet">
</head>
<body>
<img class="timg" src="/static/index/images/top5.jpg">
<div class="outlets">扬 翔 服 务 中 心 网 点</div>
<div class="map">
    <div class="map_com">
        <div class="map_left">
            <div class="map_name">广西扬翔股份有限公司服务中心</div>
            <div class="map_xia"></div>
            <div class="map_address">地址：广西贵港市江南工业园区城东大道与工业一路交汇处东北角</div>
            <div class="map_phone">
                <div class="phone_text">联系电话：400-727-0088</div>
                <img src="/static/index/images/phone1.png">
            </div>
        </div>
        <img src="/static/index/images/3.jpg">
    </div>
</div>
</body>
</html>
{include file="public:foot"}